<a href="https://colab.research.google.com/github/bmnds/uea-data-science-04-data-processing/blob/main/trabalho-final/Notebook_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pwd

/content

In [2]:
# Importando libs necessárias
import pandas as pd

# Extração

In [3]:
# Montar o diretório compartilhado do Google Drive
from google.colab import drive
drive.mount('/content/gdrive')
%cd /content/gdrive

Mounted at /content/gdrive
/content/gdrive

In [4]:
# Listar arquivos do diretório compartilhado
%cd MyDrive/uea-data-science/04-data-processing/trabalho-final/datasets
!ls

/content/gdrive/MyDrive/uea-data-science/04-data-processing/trabalho-final/datasets
bweb_1t_AM_181120201549.zip
bweb_2t_AM_301120201245.zip
dados-bairros-manaus.gsheet
detalhe_votacao_secao_2020.zip
eleitorado_local_votacao_2020.zip
perfil_comparecimento_abstencao_2020.zip
perfil_eleitorado_2020.zip
perfil_eleitor_secao_2020_AM.zip
prestacao_contas_anual_partidaria_2020.zip
prestacao_de_contas_eleitorais_candidatos_2020.zip
votacao_candidato_munzona_2020.zip
votacao_secao_2020_AM.zip

# Transformação

In [5]:
!mkdir /content/work #diretório temporário de trabalho
!mkdir /content/datasets #diretório com os arquivos processados

## Dados de Boletins de Urna

In [6]:
# boletins de urna do 1o turno
!unzip -u bweb_1t_AM_181120201549.zip -d /content/work

Archive:  bweb_1t_AM_181120201549.zip
  inflating: /content/work/bweb_1t_AM_181120201549.csv
  inflating: /content/work/leiame-boletimurnaweb.pdf

In [7]:
!cp /content/work/leiame-boletimurnaweb.pdf /content/datasets/leiame-boletim_urna.pdf

In [8]:
df_bu_1t = pd.read_csv('/content/work/bweb_1t_AM_181120201549.csv', encoding="ISO-8859-1", delimiter=';')
df_bu_1t.sample(5)

        DT_GERACAO HH_GERACAO  ...  NR_JUNTA_APURADORA  NR_TURMA_APURADORA
650895  18/11/2020   15:49:53  ...                  -1                  -1
639739  18/11/2020   15:49:53  ...                  -1                  -1
680605  18/11/2020   15:49:53  ...                  -1                  -1
565140  18/11/2020   15:49:53  ...                  -1                  -1
646261  18/11/2020   15:49:53  ...                  -1                  -1

[5 rows x 45 columns]

In [9]:
df_bu_1t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 848941 entries, 0 to 848940
Data columns (total 45 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   DT_GERACAO                   848941 non-null  object
 1   HH_GERACAO                   848941 non-null  object
 2   ANO_ELEICAO                  848941 non-null  int64
 3   CD_TIPO_ELEICAO              848941 non-null  int64
 4   NM_TIPO_ELEICAO              848941 non-null  object
 5   CD_PLEITO                    848941 non-null  int64
 6   DT_PLEITO                    848941 non-null  object
 7   NR_TURNO                     848941 non-null  int64
 8   CD_ELEICAO                   848941 non-null  int64
 9   DS_ELEICAO                   848941 non-null  object
 10  SG_UF                        848941 non-null  object
 11  CD_MUNICIPIO                 848941 non-null  int64
 12  NM_MUNICIPIO                 848941 non-null  object
 13  NR_ZONA                      848941 non-null  int64
 14  NR_SECAO                     848941 non-null  int64
 15  NR_LOCAL_VOTACAO             848941 non-null  int64
 16  CD_CARGO_PERGUNTA            848941 non-null  int64
 17  DS_CARGO_PERGUNTA            848941 non-null  object
 18  NR_PARTIDO                   848941 non-null  int64
 19  SG_PARTIDO                   848941 non-null  object
 20  NM_PARTIDO                   848941 non-null  object
 21  DT_BU_RECEBIDO               848941 non-null  object
 22  QT_APTOS                     848941 non-null  int64
 23  QT_COMPARECIMENTO            848941 non-null  int64
 24  QT_ABSTENCOES                848941 non-null  int64
 25  CD_TIPO_URNA                 848941 non-null  int64
 26  DS_TIPO_URNA                 848941 non-null  object
 27  CD_TIPO_VOTAVEL              848941 non-null  int64
 28  DS_TIPO_VOTAVEL              848941 non-null  object
 29  NR_VOTAVEL                   848941 non-null  int64
 30  NM_VOTAVEL                   848941 non-null  object
 31  QT_VOTOS                     848941 non-null  int64
 32  NR_URNA_EFETIVADA            848941 non-null  int64
 33  CD_CARGA_1_URNA_EFETIVADA    848941 non-null  object
 34  CD_CARGA_2_URNA_EFETIVADA    848941 non-null  float64
 35  CD_FLASHCARD_URNA_EFETIVADA  848941 non-null  object
 36  DT_CARGA_URNA_EFETIVADA      848941 non-null  object
 37  DS_CARGO_PERGUNTA_SECAO      848941 non-null  object
 38  DS_AGREGADAS                 848941 non-null  object
 39  DT_ABERTURA                  848828 non-null  object
 40  DT_ENCERRAMENTO              848828 non-null  object
 41  QT_ELEITORES_BIOMETRIA_NH    848941 non-null  int64
 42  DT_EMISSAO_BU                848941 non-null  object
 43  NR_JUNTA_APURADORA           848941 non-null  int64
 44  NR_TURMA_APURADORA           848941 non-null  int64
dtypes: float64(1), int64(22), object(22)
memory usage: 291.5+ MB

In [10]:
df_bu_1t.DS_CARGO_PERGUNTA.unique()

array(['Prefeito', 'Vereador'], dtype=object)

In [11]:
df_bu_1t.SG_PARTIDO.value_counts()

PSC              62642
AVANTE           60226
REPUBLICANOS     53694
PL               40921
PATRIOTA         40139
PP               36335
PT               34365
PSDB             33885
PODE             33417
PSL              33355
PTB              32379
MDB              31878
PMN              30224
PSB              29228
PSD              27816
DC               26548
CIDADANIA        26338
PROS             26234
PV               25449
#NULO#           24702
DEM              24324
PRTB             21962
PTC              21249
SOLIDARIEDADE    17075
PC do B          16626
PDT              12287
PMB               9386
NOVO              7568
PSOL              4880
REDE              2877
PSTU               932
Name: SG_PARTIDO, dtype: int64

In [12]:
df_bu_1t.NM_MUNICIPIO.value_counts()

MANAUS         590874
MANACAPURU      20977
ITACOATIARA     20787
PARINTINS       18377
TEFÉ            12425
                ...
AMATURÁ          1116
ANAMÃ            1092
CANUTAMA         1033
ITAMARATI         800
JAPURÁ            583
Name: NM_MUNICIPIO, Length: 62, dtype: int64

In [13]:
df_bu_1t.DS_TIPO_VOTAVEL.unique()

array(['Nominal', 'Nulo', 'Branco', 'Legenda'], dtype=object)

In [14]:
df_bu_1t.DS_TIPO_URNA.unique()

array(['APURADA'], dtype=object)

In [15]:
df_bu_1t.DS_AGREGADAS.value_counts()

#NULO#     805387
80            585
73            551
50            467
61            423
            ...
90             24
65             19
17 / 26        19
32             17
111            14
Name: DS_AGREGADAS, Length: 294, dtype: int64

In [16]:
df_bu_1t = df_bu_1t[df_bu_1t.NM_MUNICIPIO.eq('MANAUS')] \
                  .drop(columns=['DT_GERACAO',	'HH_GERACAO',	'CD_TIPO_ELEICAO', 'DT_BU_RECEBIDO',	'CD_TIPO_URNA', 'DS_TIPO_URNA',	
                                    'CD_TIPO_VOTAVEL',	'NR_URNA_EFETIVADA',	'CD_CARGA_1_URNA_EFETIVADA',	'CD_CARGA_2_URNA_EFETIVADA',	
                                    'CD_FLASHCARD_URNA_EFETIVADA',	'DT_CARGA_URNA_EFETIVADA',	'DS_CARGO_PERGUNTA_SECAO',	'DS_AGREGADAS',
                                    'DT_ABERTURA',	'DT_ENCERRAMENTO',	'QT_ELEITORES_BIOMETRIA_NH',	'NR_JUNTA_APURADORA',	'NR_TURMA_APURADORA'])
df_bu_1t.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 590874 entries, 0 to 848940
Data columns (total 26 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ANO_ELEICAO        590874 non-null  int64
 1   NM_TIPO_ELEICAO    590874 non-null  object
 2   CD_PLEITO          590874 non-null  int64
 3   DT_PLEITO          590874 non-null  object
 4   NR_TURNO           590874 non-null  int64
 5   CD_ELEICAO         590874 non-null  int64
 6   DS_ELEICAO         590874 non-null  object
 7   SG_UF              590874 non-null  object
 8   CD_MUNICIPIO       590874 non-null  int64
 9   NM_MUNICIPIO       590874 non-null  object
 10  NR_ZONA            590874 non-null  int64
 11  NR_SECAO           590874 non-null  int64
 12  NR_LOCAL_VOTACAO   590874 non-null  int64
 13  CD_CARGO_PERGUNTA  590874 non-null  int64
 14  DS_CARGO_PERGUNTA  590874 non-null  object
 15  NR_PARTIDO         590874 non-null  int64
 16  SG_PARTIDO         590874 non-null  object
 17  NM_PARTIDO         590874 non-null  object
 18  QT_APTOS           590874 non-null  int64
 19  QT_COMPARECIMENTO  590874 non-null  int64
 20  QT_ABSTENCOES      590874 non-null  int64
 21  DS_TIPO_VOTAVEL    590874 non-null  object
 22  NR_VOTAVEL         590874 non-null  int64
 23  NM_VOTAVEL         590874 non-null  object
 24  QT_VOTOS           590874 non-null  int64
 25  DT_EMISSAO_BU      590874 non-null  object
dtypes: int64(15), object(11)
memory usage: 121.7+ MB

### Candidatos a Prefeito

In [17]:
df_prefeitos = df_bu_1t[df_bu_1t.DS_CARGO_PERGUNTA.eq('Prefeito') & df_bu_1t.DS_TIPO_VOTAVEL.eq('Nominal')] \
                      [['CD_ELEICAO','DS_CARGO_PERGUNTA','NR_VOTAVEL','SG_PARTIDO','NM_VOTAVEL']] \
                         .drop_duplicates() \
                         .sort_values(['NR_VOTAVEL'])
df_prefeitos.columns = ['eleicao',	'cargo',	'numero', 'partido', 'candidato']
df_prefeitos

     eleicao     cargo  numero       partido             candidato
6        426  Prefeito      10  REPUBLICANOS  CAPITÃO ALBERTO NETO
9        426  Prefeito      13            PT            ZE RICARDO
209      426  Prefeito      16          PSTU  GILBERTO VASCONCELOS
7        426  Prefeito      19          PODE      AMAZONINO MENDES
5        426  Prefeito      22            PL    ALFREDO NASCIMENTO
0        426  Prefeito      27            DC           CHICO PRETO
10       426  Prefeito      30          NOVO           ROMERO REIS
8        426  Prefeito      51      PATRIOTA       CORONEL MENEZES
4        426  Prefeito      55           PSD       RICARDO NICOLAU
217      426  Prefeito      65       PC do B          MARCELO AMIL
3        426  Prefeito      70        AVANTE         DAVID ALMEIDA

In [18]:
df_prefeitos.to_csv('/content/datasets/prefeitos.csv')

### Resultados para Prefeito

In [170]:
df_resultados_prefeito = df_bu_1t[df_bu_1t.DS_CARGO_PERGUNTA.eq('Prefeito')] \
    [['CD_ELEICAO',	'NR_ZONA'	,'NR_SECAO', 'NR_LOCAL_VOTACAO', 'DS_CARGO_PERGUNTA'	,'NR_VOTAVEL',	'QT_VOTOS']] \
    .sort_values(['NR_ZONA','NR_SECAO','NR_VOTAVEL'])
df_resultados_prefeito.columns = ['eleicao',	'zona',	'secao', 'local',	'cargo',	'numero',	'votos']    
df_resultados_prefeito

        eleicao  zona  secao  local     cargo  numero  votos
6           426     1    640   2429  Prefeito      10     19
9           426     1    640   2429  Prefeito      13     49
7           426     1    640   2429  Prefeito      19     90
5           426     1    640   2429  Prefeito      22      7
0           426     1    640   2429  Prefeito      27      7
...         ...   ...    ...    ...       ...     ...    ...
848806      426    70    808   1848  Prefeito      51     13
848799      426    70    808   1848  Prefeito      55     19
848804      426    70    808   1848  Prefeito      70     46
848796      426    70    808   1848  Prefeito      95      9
848795      426    70    808   1848  Prefeito      96     22

[39330 rows x 7 columns]

In [171]:
filename = '/content/datasets/resultados_prefeito.csv'
df_resultados_prefeito.to_csv(filename)
print(f'Resultado da votação para prefeito no 1o turno gravada em \'{filename}\'')

Resultado da votação para prefeito no 1o turno gravada em '/content/datasets/resultados_prefeito.csv'

### Candidatos a Vereador

In [21]:
df_vereadores = df_bu_1t[df_bu_1t.DS_CARGO_PERGUNTA.eq('Vereador') & df_bu_1t.DS_TIPO_VOTAVEL.eq('Nominal')] \
                        [['CD_ELEICAO','DS_CARGO_PERGUNTA','NR_VOTAVEL','SG_PARTIDO','NM_VOTAVEL']] \
                         .drop_duplicates() \
                         .sort_values(['NR_VOTAVEL'])
df_vereadores.columns = ['eleicao',	'cargo',	'numero', 'partido', 'candidato']
df_vereadores

       eleicao     cargo  numero       partido                candidato
3083       426  Vereador   10000  REPUBLICANOS            CABO COUTINHO
32033      426  Vereador   10007  REPUBLICANOS     SARGENTO ANA CLAUDIA
36326      426  Vereador   10008  REPUBLICANOS             CHAY CHANTEL
4547       426  Vereador   10010  REPUBLICANOS              LUCAS SALES
453        426  Vereador   10018  REPUBLICANOS  JOSUE DOS CAMINHONEIROS
...        ...       ...     ...           ...                      ...
950        426  Vereador   90800          PROS          EMERSON BOTELHO
10173      426  Vereador   90888          PROS           LORA DO SOCIAL
1335       426  Vereador   90900          PROS              ERICO BRAGA
1615       426  Vereador   90901          PROS             LUIZ ALBERTO
3751       426  Vereador   90999          PROS           CRISTINA PAIVA

[1374 rows x 5 columns]

In [22]:
df_vereadores.to_csv('/content/datasets/vereadores.csv')

### Resultados para Vereador

In [23]:
df_resultados_vereador = df_bu_1t[df_bu_1t.DS_CARGO_PERGUNTA.eq('Vereador')] \
    [['CD_ELEICAO',	'NR_ZONA'	,'NR_SECAO', 'NR_LOCAL_VOTACAO', 'DS_CARGO_PERGUNTA'	,'NR_VOTAVEL',	'QT_VOTOS']] \
    .sort_values(['NR_ZONA','NR_SECAO','NR_VOTAVEL'])
df_resultados_vereador.columns = ['eleicao',	'zona',	'secao', 'local',	'cargo',	'numero',	'votos']    
df_resultados_vereador

        eleicao  zona  secao  local     cargo  numero  votos
200         426     1    640   2429  Vereador      11      1
104         426     1    640   2429  Vereador      13      2
185         426     1    640   2429  Vereador      18      1
25          426     1    640   2429  Vereador      19      2
54          426     1    640   2429  Vereador      50      1
...         ...   ...    ...    ...       ...     ...    ...
848823      426    70    808   1848  Vereador   77888      4
848898      426    70    808   1848  Vereador   90177      2
848832      426    70    808   1848  Vereador   90321      1
848830      426    70    808   1848  Vereador   90523      1
848887      426    70    808   1848  Vereador   90789      2

[551544 rows x 7 columns]

In [24]:
filename = '/content/datasets/resultados_vereador.csv'
df_resultados_vereador.to_csv(filename)
print(f'Resultado da votação para Vereador no 1o turno gravada em \'{filename}\'')

Resultado da votação para Vereador no 1o turno gravada em '/content/datasets/resultados_vereador.csv'

### Candidatos a Prefeito (2o turno)

In [25]:
# boletins de urna do 2o turno
!unzip -u bweb_2t_AM_301120201245.zip -d /content/work

Archive:  bweb_2t_AM_301120201245.zip
  inflating: /content/work/bweb_2t_AM_301120201245.csv

In [26]:
df_bu_2t = pd.read_csv('/content/work/bweb_2t_AM_301120201245.csv', encoding="ISO-8859-1", delimiter=';')
df_bu_2t.sample(5)

       DT_GERACAO HH_GERACAO  ...  NR_JUNTA_APURADORA  NR_TURMA_APURADORA
1178   30/11/2020   12:37:06  ...                  -1                  -1
6122   30/11/2020   12:37:06  ...                  -1                  -1
5947   30/11/2020   12:37:06  ...                  -1                  -1
6015   30/11/2020   12:37:06  ...                  -1                  -1
10326  30/11/2020   12:37:06  ...                  -1                  -1

[5 rows x 45 columns]

In [27]:
df_prefeitos_2t = df_bu_2t[df_bu_2t.DS_CARGO_PERGUNTA.eq('Prefeito') & df_bu_2t.DS_TIPO_VOTAVEL.eq('Nominal')] \
                       [['CD_ELEICAO','DS_CARGO_PERGUNTA','SG_PARTIDO','NR_VOTAVEL','NM_VOTAVEL']] \
                         .drop_duplicates() \
                         .sort_values(['NR_VOTAVEL'])
df_prefeitos_2t.columns = ['eleicao',	'cargo',	'numero', 'partido', 'candidato']
df_prefeitos_2t

   eleicao     cargo  numero  partido         candidato
1      427  Prefeito    PODE       19  AMAZONINO MENDES
0      427  Prefeito  AVANTE       70     DAVID ALMEIDA

In [28]:
filename = '/content/datasets/prefeitos_2t.csv'
df_prefeitos_2t.to_csv(filename)
print(f'Candidatos a Prefeito (2o turno) gravados em \'{filename}\'')

Candidatos a Prefeito (2o turno) gravados em '/content/datasets/prefeitos_2t.csv'

### Resultados para Prefeito (2o turno)

In [175]:
df_resultados_prefeito_2t = df_bu_2t[df_bu_2t.DS_CARGO_PERGUNTA.eq('Prefeito')] \
    [['CD_ELEICAO',	'NR_ZONA'	,'NR_SECAO', 'NR_LOCAL_VOTACAO', 'DS_CARGO_PERGUNTA'	,'NR_VOTAVEL',	'QT_VOTOS']] \
    .sort_values(['NR_ZONA','NR_SECAO','NR_VOTAVEL'])
df_resultados_prefeito_2t.columns = ['eleicao',	'zona',	'secao', 'local',	'cargo',	'numero',	'votos']    
df_resultados_prefeito_2t

       eleicao  zona  secao  local     cargo  numero  votos
1          427     1    640   2429  Prefeito      19    156
0          427     1    640   2429  Prefeito      70    135
3          427     1    640   2429  Prefeito      95     10
2          427     1    640   2429  Prefeito      96     29
4          427     1    641   2089  Prefeito      19    153
...        ...   ...    ...    ...       ...     ...    ...
13471      427    70    806   2089  Prefeito      96     16
13476      427    70    808   1848  Prefeito      19     68
13473      427    70    808   1848  Prefeito      70    122
13475      427    70    808   1848  Prefeito      95     11
13474      427    70    808   1848  Prefeito      96     14

[13477 rows x 7 columns]

In [176]:
filename = '/content/datasets/resultados_prefeito_2t.csv'
df_resultados_prefeito_2t.to_csv(filename)
print(f'Resultado da votação para Prefeito (2o turno) gravado em \'{filename}\'')

Resultado da votação para Prefeito (2o turno) gravado em '/content/datasets/resultados_prefeito_2t.csv'

### Eleições

In [31]:
df1 = df_bu_1t[['ANO_ELEICAO',	'NM_TIPO_ELEICAO',	'CD_PLEITO',	'DT_PLEITO', 'NR_TURNO',	'CD_ELEICAO',	'DS_ELEICAO']] \
               .drop_duplicates()
df2 = df_bu_2t[['ANO_ELEICAO',	'NM_TIPO_ELEICAO',	'CD_PLEITO',	'DT_PLEITO', 'NR_TURNO',	'CD_ELEICAO',	'DS_ELEICAO']] \
               .drop_duplicates()
df_eleicao = df1.append(df2)
df_eleicao.columns = ['ano', 'tipo', 'pleito', 'data', 'turno', 'eleicao', 'descricao']
df_eleicao

    ano               tipo  pleito  ... turno  eleicao                 descricao
0  2020  Eleição Ordinária     304  ...     1      426  Eleições Municipais 2020
0  2020  Eleição Ordinária     305  ...     2      427  Eleições Municipais 2020

[2 rows x 7 columns]

In [32]:
filename = '/content/datasets/eleicoes.csv'
df_resultado_prefeito.to_csv(filename)
print(f'Eleições gravadas em \'{filename}\'')

Eleições gravadas em '/content/datasets/eleicoes.csv'

### Limpeza do diretório de trabalho

In [33]:
# Limpeza do diretório temporário de trabalho
!rm -rf /content/work/*

## Locais de votação

In [34]:
# detalhes das seções
!unzip -u detalhe_votacao_secao_2020.zip -d /content/work

Archive:  detalhe_votacao_secao_2020.zip
  inflating: /content/work/detalhe_votacao_secao_2020_AC.csv
  inflating: /content/work/detalhe_votacao_secao_2020_AL.csv
  inflating: /content/work/detalhe_votacao_secao_2020_AM.csv
  inflating: /content/work/detalhe_votacao_secao_2020_AP.csv
  inflating: /content/work/detalhe_votacao_secao_2020_BA.csv
  inflating: /content/work/detalhe_votacao_secao_2020_BRASIL.csv
  inflating: /content/work/detalhe_votacao_secao_2020_CE.csv
  inflating: /content/work/detalhe_votacao_secao_2020_ES.csv
  inflating: /content/work/detalhe_votacao_secao_2020_GO.csv
  inflating: /content/work/detalhe_votacao_secao_2020_MA.csv
  inflating: /content/work/detalhe_votacao_secao_2020_MG.csv
  inflating: /content/work/detalhe_votacao_secao_2020_MS.csv
  inflating: /content/work/detalhe_votacao_secao_2020_MT.csv
  inflating: /content/work/detalhe_votacao_secao_2020_PA.csv
  inflating: /content/work/detalhe_votacao_secao_2020_PB.csv
  inflating: /content/work/detalhe_votacao_secao_2020_PE.csv
  inflating: /content/work/detalhe_votacao_secao_2020_PI.csv
  inflating: /content/work/detalhe_votacao_secao_2020_PR.csv
  inflating: /content/work/detalhe_votacao_secao_2020_RJ.csv
  inflating: /content/work/detalhe_votacao_secao_2020_RN.csv
  inflating: /content/work/detalhe_votacao_secao_2020_RO.csv
  inflating: /content/work/detalhe_votacao_secao_2020_RR.csv
  inflating: /content/work/detalhe_votacao_secao_2020_RS.csv
  inflating: /content/work/detalhe_votacao_secao_2020_SC.csv
  inflating: /content/work/detalhe_votacao_secao_2020_SE.csv
  inflating: /content/work/detalhe_votacao_secao_2020_SP.csv
  inflating: /content/work/detalhe_votacao_secao_2020_TO.csv
  inflating: /content/work/leiame.pdf

In [35]:
df_dvs = pd.read_csv('/content/work/detalhe_votacao_secao_2020_BRASIL.csv', encoding="ISO-8859-1", delimiter=';')
df_dvs.sample(5)

        DT_GERACAO HH_GERACAO  ...  QT_VOTOS_ANULADOS_APU_SEP  NR_LOCAL_VOTACAO
670260  09/12/2020   15:29:43  ...                          0              1643
737438  09/12/2020   15:29:43  ...                          0              1201
675569  09/12/2020   15:29:43  ...                          0              1074
495276  09/12/2020   15:29:43  ...                          0              1600
122106  09/12/2020   15:29:43  ...                          0              1031

[5 rows x 28 columns]

In [36]:
df_dvs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 897536 entries, 0 to 897535
Data columns (total 28 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   DT_GERACAO                 897536 non-null  object
 1   HH_GERACAO                 897536 non-null  object
 2   ANO_ELEICAO                897536 non-null  int64
 3   CD_TIPO_ELEICAO            897536 non-null  int64
 4   NM_TIPO_ELEICAO            897536 non-null  object
 5   NR_TURNO                   897536 non-null  int64
 6   CD_ELEICAO                 897536 non-null  int64
 7   DS_ELEICAO                 897536 non-null  object
 8   DT_ELEICAO                 897536 non-null  object
 9   TP_ABRANGENCIA             897536 non-null  object
 10  SG_UF                      897536 non-null  object
 11  SG_UE                      897536 non-null  int64
 12  NM_UE                      897536 non-null  object
 13  CD_MUNICIPIO               897536 non-null  int64
 14  NM_MUNICIPIO               897536 non-null  object
 15  NR_ZONA                    897536 non-null  int64
 16  NR_SECAO                   897536 non-null  int64
 17  CD_CARGO                   897536 non-null  int64
 18  DS_CARGO                   897536 non-null  object
 19  QT_APTOS                   897536 non-null  int64
 20  QT_COMPARECIMENTO          897536 non-null  int64
 21  QT_ABSTENCOES              897536 non-null  int64
 22  QT_VOTOS_NOMINAIS          897536 non-null  int64
 23  QT_VOTOS_BRANCOS           897536 non-null  int64
 24  QT_VOTOS_NULOS             897536 non-null  int64
 25  QT_VOTOS_LEGENDA           897536 non-null  int64
 26  QT_VOTOS_ANULADOS_APU_SEP  897536 non-null  int64
 27  NR_LOCAL_VOTACAO           897536 non-null  int64
dtypes: int64(18), object(10)
memory usage: 191.7+ MB

### Seções

In [48]:
df_secoes = df_dvs[df_dvs.NM_MUNICIPIO.eq('MANAUS')] \
                  [['CD_ELEICAO', 'NR_ZONA', 'NR_SECAO', 'NR_LOCAL_VOTACAO',
                    'QT_APTOS',	'QT_COMPARECIMENTO',	'QT_ABSTENCOES']] \
                    .sort_values(['NR_ZONA', 'NR_SECAO', 'CD_ELEICAO']) \
                    .drop_duplicates()
df_secoes.columns = ['eleicao', 'zona', 'secao', 'local','aptos','votos','abstencoes']
df_secoes

        eleicao  zona  secao  local  aptos  votos  abstencoes
41373       426     1    640   2429    411    348          63
725917      427     1    640   2429    411    330          81
325496      426     1    641   2089    393    326          67
328669      427     1    641   2089    393    308          85
138660      426     1    642   2321    397    341          56
...         ...   ...    ...    ...    ...    ...         ...
431441      427    70    805   2046    366    245         121
291560      426    70    806   2089    399    280         119
604720      427    70    806   2089    399    277         122
374725      426    70    808   1848    284    224          60
946         427    70    808   1848    284    215          69

[6742 rows x 7 columns]

In [49]:
filename = '/content/datasets/secoes.csv'
df_secoes.to_csv(filename)
print(f'Seções eleitorais gravadas em \'{filename}\'')

Seções eleitorais gravadas em '/content/datasets/secoes.csv'

In [39]:
dft_dvs = df_dvs[df_dvs.NM_MUNICIPIO.eq('MANAUS')] \
               [['CD_ELEICAO', 'NR_ZONA', 'NR_SECAO', 'NR_LOCAL_VOTACAO', 'DS_CARGO',
                 'QT_APTOS', 'QT_COMPARECIMENTO', 'QT_ABSTENCOES',
                 'QT_VOTOS_NOMINAIS',	'QT_VOTOS_BRANCOS',	'QT_VOTOS_NULOS', 'QT_VOTOS_LEGENDA']] \
                .sort_values(['CD_ELEICAO','NR_ZONA', 'NR_SECAO'])
dft_dvs

        CD_ELEICAO  NR_ZONA  ...  QT_VOTOS_NULOS  QT_VOTOS_LEGENDA
41373          426        1  ...              19                 0
205055         426        1  ...              16                11
325496         426        1  ...              23                 0
340194         426        1  ...              13                10
138660         426        1  ...              17                 6
...            ...      ...  ...             ...               ...
891487         427       70  ...               6                 0
624649         427       70  ...              15                 0
431441         427       70  ...              16                 0
604720         427       70  ...              16                 0
946            427       70  ...              14                 0

[10113 rows x 12 columns]

### Escolas

In [104]:
# detalhes das seções
!unzip -u eleitorado_local_votacao_2020.zip -d /content/work

Archive:  eleitorado_local_votacao_2020.zip
replace /content/work/LEIAME.pdf? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: /content/work/LEIAME.pdf
  inflating: /content/work/eleitorado_local_votacao_2020.csv

In [105]:
df = pd.read_csv('/content/work/eleitorado_local_votacao_2020.csv', encoding="ISO-8859-1", delimiter=';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 597429 entries, 0 to 597428
Data columns (total 32 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   DT_GERACAO              597429 non-null  object
 1   HH_GERACAO              597429 non-null  object
 2   AA_ELEICAO              597429 non-null  int64
 3   DT_ELEICAO              597429 non-null  object
 4   DS_ELEICAO              597429 non-null  object
 5   SG_UF                   597429 non-null  object
 6   CD_MUNICIPIO            597429 non-null  int64
 7   NM_MUNICIPIO            597429 non-null  object
 8   NR_ZONA                 597429 non-null  int64
 9   NR_SECAO                597429 non-null  int64
 10  CD_TIPO_SECAO_AGREGADA  597429 non-null  int64
 11  DS_TIPO_SECAO_AGREGADA  597429 non-null  object
 12  NR_LOCAL_VOTACAO        597429 non-null  int64
 13  NM_LOCAL_VOTACAO        597429 non-null  object
 14  CD_TIPO_LOCAL           597429 non-null  int64
 15  DS_TIPO_LOCAL           597429 non-null  object
 16  DS_ENDERECO             597429 non-null  object
 17  NM_BAIRRO               597429 non-null  object
 18  NR_CEP                  597429 non-null  int64
 19  NR_TELEFONE_LOCAL       597429 non-null  object
 20  NR_LATITUDE             597429 non-null  float64
 21  NR_LONGITUDE            597429 non-null  float64
 22  CD_SITU_LOCAL_VOTACAO   597429 non-null  int64
 23  DS_SITU_LOCAL_VOTACAO   597429 non-null  object
 24  CD_SITU_ZONA            597429 non-null  int64
 25  DS_SITU_ZONA            597429 non-null  object
 26  CD_SITU_SECAO           597429 non-null  int64
 27  DS_SITU_SECAO           597429 non-null  object
 28  CD_SITU_LOCALIDADE      597429 non-null  int64
 29  DS_SITU_LOCALIDADE      597429 non-null  object
 30  QT_ELEITOR              597429 non-null  int64
 31  QT_ELEITOR_ELEICAO      597429 non-null  int64
dtypes: float64(2), int64(14), object(16)
memory usage: 145.9+ MB

In [110]:
df[df.NR_ZONA.eq(32) & df.NM_MUNICIPIO.eq('MANAUS')]

        DT_GERACAO HH_GERACAO  ...  QT_ELEITOR QT_ELEITOR_ELEICAO
225     27/11/2020   13:04:41  ...         378                378
1911    27/11/2020   13:04:41  ...         346                349
2548    27/11/2020   13:04:41  ...         345                344
3146    27/11/2020   13:04:41  ...         350                347
4488    27/11/2020   13:04:41  ...         380                380
...            ...        ...  ...         ...                ...
590279  27/11/2020   13:04:41  ...         394                  0
592310  27/11/2020   13:04:41  ...         357                490
595554  27/11/2020   13:04:41  ...         295                291
595772  27/11/2020   13:04:41  ...         367                365
596404  27/11/2020   13:04:41  ...         369                369

[662 rows x 32 columns]

In [111]:
df_escolas = df[df.NM_MUNICIPIO.eq('MANAUS') & df.DS_TIPO_SECAO_AGREGADA.eq('Principal')] \
                  [['NR_ZONA', 'NR_SECAO', 'NR_LOCAL_VOTACAO', 'NM_LOCAL_VOTACAO',
                    'NM_BAIRRO','NR_LATITUDE',	'NR_LONGITUDE']] \
                    .sort_values(['NR_ZONA', 'NR_SECAO']) \
                    .drop_duplicates()
df_escolas.columns = ['zona', 'secao', 'local', 'nome', 'bairro', 'lat','long']
df_escolas

        zona  secao  local  ...               bairro       lat       long
90957      1    640   2429  ...         CACHOEIRINHA -1.000000  -1.000000
70444      1    641   2089  ...         CACHOEIRINHA -3.119252 -60.006131
179658     1    642   2321  ...                 RAIZ -3.123326 -59.995204
139511     1    643   2054  ...  PRACA 14 DE JANEIRO -3.118991 -60.011749
494185     1    644   2402  ...          SAO GERALDO -3.104937 -60.027054
...      ...    ...    ...  ...                  ...       ...        ...
142013    70    803   2003  ...       CIDADE DE DEUS -3.020089 -59.950070
382031    70    804   2038  ...          NOVO ALEIXO -3.043992 -59.957957
509896    70    805   2046  ...          NOVO ALEIXO -3.036308 -59.942780
216887    70    806   2089  ...       CIDADE DE DEUS -3.018721 -59.939805
244784    70    808   1848  ...       CIDADE DE DEUS -3.019144 -59.940297

[3371 rows x 7 columns]

In [112]:
filename = '/content/datasets/escolas.csv'
df_escolas.to_csv(filename)
print(f'Escolas gravadas em \'{filename}\'')

Escolas gravadas em '/content/datasets/escolas.csv'

In [113]:
# Limpeza do diretório temporário de trabalho
!rm -rf /content/work/*

## Dataset de Seções

| Atributo | Descrição |
| --- | --- |
| ZONA | Zona eleitoral |
| SECAO | Seção eleitoral |
| ESCOLA | Escola onde a seção eleitoral está situada |
| BAIRRO | Bairro onde a escola está localizada
| LAT | Latitude do ponto onde a escola está localizada |
| LONG | Longitude od ponto onde a escola está localizada |
| APTOS | Quantidade de eleitores aptos a votar |
| VOTOS | Quantidade de eleitores que votou (1o turno) |
| ABTENCOES | Quantidade de eleitores que não compareceu (1o turno) |
| VOTOS_2T | Quantidade de eleitores que votou (2o turno) |
| ABTENCOES_2T | Quantidade de eleitores que não compareceu (2o turno) |
| PREFEITO[1..N] | Votos recebidos pelo candidato a prefeito (1o turno) |
| PREFEITO_2T_[1..2] | Votos recebidos pelo candidato a prefeito  (2o turno) |
| LEGENDA_MAIS_VOTADA | Legenda que obteve mais votos para vereador (1o turno) |

---
```
#locais
df_secoes.columns = ['eleicao', 'zona', 'secao', 'local', 'aptos','votos','abstencoes']
df_escolas.columns = ['zona', 'secao', 'local', 'nome', 'bairro', 'lat','long']

#candidatos
df_prefeitos.columns = ['eleicao',	'cargo',	'numero', 'partido', 'candidato']
df_vereadores.columns = ['eleicao',	'cargo',	'numero', 'partido', 'candidato']
df_prefeitos_2t.columns = ['eleicao',	'cargo',	'numero', 'partido', 'candidato']

#resultados
df_resultados_prefeito.columns = ['eleicao',	'zona',	'secao', 'local',	'cargo',	'numero',	'votos'] 
df_resultados_vereador.columns = ['eleicao',	'zona',	'secao', 'local',	'cargo',	'numero',	'votos']    
df_resultado_prefeito.columns = ['eleicao',	'zona',	'secao', 'local',	'cargo',	'numero',	'votos']    
```

In [114]:
df_final = df_escolas.copy()
df_final

        zona  secao  local  ...               bairro       lat       long
90957      1    640   2429  ...         CACHOEIRINHA -1.000000  -1.000000
70444      1    641   2089  ...         CACHOEIRINHA -3.119252 -60.006131
179658     1    642   2321  ...                 RAIZ -3.123326 -59.995204
139511     1    643   2054  ...  PRACA 14 DE JANEIRO -3.118991 -60.011749
494185     1    644   2402  ...          SAO GERALDO -3.104937 -60.027054
...      ...    ...    ...  ...                  ...       ...        ...
142013    70    803   2003  ...       CIDADE DE DEUS -3.020089 -59.950070
382031    70    804   2038  ...          NOVO ALEIXO -3.043992 -59.957957
509896    70    805   2046  ...          NOVO ALEIXO -3.036308 -59.942780
216887    70    806   2089  ...       CIDADE DE DEUS -3.018721 -59.939805
244784    70    808   1848  ...       CIDADE DE DEUS -3.019144 -59.940297

[3371 rows x 7 columns]

### Adicionando quantitativos de eleitores

In [136]:
def create_or_replace_column(df, col, val):
  if col in df.columns:
    del df[col]

  df[col] = val

create_or_replace_column(df_final, 'aptos', 0)
create_or_replace_column(df_final, 'votos', 0)
create_or_replace_column(df_final, 'abstencoes', 0)
create_or_replace_column(df_final, 'votos_2t', 0)
create_or_replace_column(df_final, 'abstencoes_2t', 0)
df_final.columns

Index(['zona', 'secao', 'local', 'nome', 'bairro', 'lat', 'long', 'aptos',
       'votos', 'abstencoes', 'votos_2t', 'abstencoes_2t'],
      dtype='object')

In [117]:
df = df_secoes.groupby(['zona','secao', 'eleicao'])[['aptos','votos','abstencoes']].first().unstack()
df

           aptos      votos      abstencoes
eleicao      426  427   426  427        426  427
zona secao
1    640     411  411   348  330         63   81
     641     393  393   326  308         67   85
     642     397  397   341  332         56   65
     643     480  480   414  398         66   82
     644     328  328   277  265         51   63
...          ...  ...   ...  ...        ...  ...
70   803     275  275   201  188         74   87
     804     332  332   228  210        104  122
     805     366  366   258  245        108  121
     806     399  399   280  277        119  122
     808     284  284   224  215         60   69

[3371 rows x 6 columns]

In [162]:
def get_total_aptos(row):
  return df.loc[row['zona'], row['secao']].loc['aptos'].loc[426]

def get_total_votos(row):
  return df.loc[row['zona'], row['secao']].loc['votos'].loc[426]

def get_total_abstencoes(row):
  return df.loc[row['zona'], row['secao']].loc['abstencoes'].loc[426]
  
df_final['aptos'] = df_final.apply(get_total_aptos, axis=1)
df_final['votos'] = df_final.apply(get_total_votos, axis=1)
df_final['abstencoes'] = df_final.apply(get_total_abstencoes, axis=1)
df_final

        zona  secao  local  ... abstencoes votos_2t  abstencoes_2t
90957      1    640   2429  ...         63        0              0
70444      1    641   2089  ...         67        0              0
179658     1    642   2321  ...         56        0              0
139511     1    643   2054  ...         66        0              0
494185     1    644   2402  ...         51        0              0
...      ...    ...    ...  ...        ...      ...            ...
142013    70    803   2003  ...         74        0              0
382031    70    804   2038  ...        104        0              0
509896    70    805   2046  ...        108        0              0
216887    70    806   2089  ...        119        0              0
244784    70    808   1848  ...         60        0              0

[3371 rows x 12 columns]

In [163]:
def get_total_votos_2t(row):
  return df.loc[row['zona'], row['secao']].loc['votos'].loc[427]

def get_total_abstencoes_2t(row):
  return df.loc[row['zona'], row['secao']].loc['abstencoes'].loc[427]
  
df_final['votos_2t'] = df_final.apply(get_total_votos_2t, axis=1)
df_final['abstencoes_2t'] = df_final.apply(get_total_abstencoes_2t, axis=1)
df_final

        zona  secao  local  ... abstencoes votos_2t  abstencoes_2t
90957      1    640   2429  ...         63      330             81
70444      1    641   2089  ...         67      308             85
179658     1    642   2321  ...         56      332             65
139511     1    643   2054  ...         66      398             82
494185     1    644   2402  ...         51      265             63
...      ...    ...    ...  ...        ...      ...            ...
142013    70    803   2003  ...         74      188             87
382031    70    804   2038  ...        104      210            122
509896    70    805   2046  ...        108      245            121
216887    70    806   2089  ...        119      277            122
244784    70    808   1848  ...         60      215             69

[3371 rows x 12 columns]

### Adicionando o resultado da eleição para prefeito

In [177]:
df_prefeitos.set_index('numero')

        eleicao     cargo       partido             candidato
numero
10          426  Prefeito  REPUBLICANOS  CAPITÃO ALBERTO NETO
13          426  Prefeito            PT            ZE RICARDO
16          426  Prefeito          PSTU  GILBERTO VASCONCELOS
19          426  Prefeito          PODE      AMAZONINO MENDES
22          426  Prefeito            PL    ALFREDO NASCIMENTO
27          426  Prefeito            DC           CHICO PRETO
30          426  Prefeito          NOVO           ROMERO REIS
51          426  Prefeito      PATRIOTA       CORONEL MENEZES
55          426  Prefeito           PSD       RICARDO NICOLAU
65          426  Prefeito       PC do B          MARCELO AMIL
70          426  Prefeito        AVANTE         DAVID ALMEIDA

In [179]:
df_resultados_prefeito.set_index(['zona','secao','numero']).loc[(1,640)]

        eleicao  local     cargo  votos
numero
10          426   2429  Prefeito     19
13          426   2429  Prefeito     49
19          426   2429  Prefeito     90
22          426   2429  Prefeito      7
27          426   2429  Prefeito      7
30          426   2429  Prefeito      8
51          426   2429  Prefeito     25
55          426   2429  Prefeito     38
70          426   2429  Prefeito     71
95          426   2429  Prefeito     15
96          426   2429  Prefeito     19

In [185]:
df = df_resultados_prefeito.merge(df_prefeitos, on=['eleicao', 'cargo', 'numero'])
df

       eleicao  zona  secao  ...  votos       partido             candidato
0          426     1    640  ...     19  REPUBLICANOS  CAPITÃO ALBERTO NETO
1          426     1    641  ...      9  REPUBLICANOS  CAPITÃO ALBERTO NETO
2          426     1    642  ...     28  REPUBLICANOS  CAPITÃO ALBERTO NETO
3          426     1    643  ...     24  REPUBLICANOS  CAPITÃO ALBERTO NETO
4          426     1    644  ...     21  REPUBLICANOS  CAPITÃO ALBERTO NETO
...        ...   ...    ...  ...    ...           ...                   ...
32589      426    70    791  ...      1       PC do B          MARCELO AMIL
32590      426    70    796  ...      1       PC do B          MARCELO AMIL
32591      426    70    798  ...      1       PC do B          MARCELO AMIL
32592      426    70    804  ...      1       PC do B          MARCELO AMIL
32593      426    70    805  ...      1       PC do B          MARCELO AMIL

[32594 rows x 9 columns]

In [191]:
df.sort_values('votos', ascending=False).groupby(['eleicao', 'zona', 'secao', 'local', 'cargo']).nth(1)

                                   numero  votos partido         candidato
eleicao zona secao local cargo
426     1    640   2429  Prefeito      70     71  AVANTE     DAVID ALMEIDA
             641   2089  Prefeito      70     56  AVANTE     DAVID ALMEIDA
             642   2321  Prefeito      70     68  AVANTE     DAVID ALMEIDA
             643   2054  Prefeito      70     75  AVANTE     DAVID ALMEIDA
             644   2402  Prefeito      13     46      PT        ZE RICARDO
...                                   ...    ...     ...               ...
        70   803   2003  Prefeito      13     36      PT        ZE RICARDO
             804   2038  Prefeito      70     42  AVANTE     DAVID ALMEIDA
             805   2046  Prefeito      70     54  AVANTE     DAVID ALMEIDA
             806   2089  Prefeito      19     50    PODE  AMAZONINO MENDES
             808   1848  Prefeito      70     46  AVANTE     DAVID ALMEIDA

[3371 rows x 4 columns]

In [204]:
# Recuperando os candidatos mais votados nas eleições para prefeito (1o turno)
df_resultados_prefeito.merge(df_prefeitos, on=['eleicao', 'cargo', 'numero']) \
  .sort_values('votos', ascending=False) \
  .groupby(['eleicao', 'zona', 'secao', 'local', 'cargo']).nth(0)

                                   numero  votos partido         candidato
eleicao zona secao local cargo
426     1    640   2429  Prefeito      19     90    PODE  AMAZONINO MENDES
             641   2089  Prefeito      19     75    PODE  AMAZONINO MENDES
             642   2321  Prefeito      19     87    PODE  AMAZONINO MENDES
             643   2054  Prefeito      19     98    PODE  AMAZONINO MENDES
             644   2402  Prefeito      19     65    PODE  AMAZONINO MENDES
...                                   ...    ...     ...               ...
        70   803   2003  Prefeito      70     38  AVANTE     DAVID ALMEIDA
             804   2038  Prefeito      19     60    PODE  AMAZONINO MENDES
             805   2046  Prefeito      19     57    PODE  AMAZONINO MENDES
             806   2089  Prefeito      70     58  AVANTE     DAVID ALMEIDA
             808   1848  Prefeito      19     53    PODE  AMAZONINO MENDES

[3371 rows x 4 columns]

In [203]:
# Recuperando o total de votos por zona eleitoral para cada candidato à prefeito (1o turno)
df_resultados_prefeito.merge(df_prefeitos, on=['eleicao', 'cargo', 'numero']) \
  .sort_values('votos', ascending=False) \
  .groupby(['eleicao', 'zona', 'numero','candidato','cargo','partido'])[['votos']].sum()

                                                                votos
eleicao zona numero candidato            cargo    partido
426     1    10     CAPITÃO ALBERTO NETO Prefeito REPUBLICANOS   3944
             13     ZE RICARDO           Prefeito PT             9738
             16     GILBERTO VASCONCELOS Prefeito PSTU             58
             19     AMAZONINO MENDES     Prefeito PODE          17409
             22     ALFREDO NASCIMENTO   Prefeito PL             1654
...                                                               ...
        70   30     ROMERO REIS          Prefeito NOVO           1917
             51     CORONEL MENEZES      Prefeito PATRIOTA       8065
             55     RICARDO NICOLAU      Prefeito PSD            7758
             65     MARCELO AMIL         Prefeito PC do B         155
             70     DAVID ALMEIDA        Prefeito AVANTE        15577

[143 rows x 1 columns]

### Adicionando o resultado da eleição para vereador

### Adicionando o resultado da eleição para prefeito (2o turno)

### Gravando o arquivo csv final

In [164]:
filename = '/content/datasets/final_secoes.csv'
df_final.to_csv(filename)
print(f'Escolas gravadas em \'{filename}\'')

Escolas gravadas em '/content/datasets/final_secoes.csv'

In [ ]:
# Limpeza do diretório temporário de trabalho
!rm -rf /content/work/*

## Perfil do Eleitorado
perfil_eleitor_secao_2020_AM.zip

In [45]:
# perfil do eleitorado
!unzip -u perfil_eleitor_secao_2020_AM.zip -d /content/work

Archive:  perfil_eleitor_secao_2020_AM.zip
  inflating: /content/work/LEIAME.pdf
  inflating: /content/work/perfil_eleitor_secao_2020_AM.csv

In [46]:
df_perfil = pd.read_csv('/content/work/perfil_eleitor_secao_2020_AM.csv', encoding="ISO-8859-1", delimiter=';')
df_perfil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1104400 entries, 0 to 1104399
Data columns (total 23 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   DT_GERACAO                  1104400 non-null  object
 1   HH_GERACAO                  1104400 non-null  object
 2   ANO_ELEICAO                 1104400 non-null  int64
 3   SG_UF                       1104400 non-null  object
 4   CD_MUNICIPIO                1104400 non-null  int64
 5   NM_MUNICIPIO                1104400 non-null  object
 6   CD_MUN_SIT_BIOMETRIA        1104400 non-null  int64
 7   DS_MUN_SIT_BIOMETRIA        1104400 non-null  object
 8   NR_ZONA                     1104400 non-null  int64
 9   NR_SECAO                    1104400 non-null  int64
 10  CD_LOCAL_VOTACAO            1104400 non-null  object
 11  CD_GENERO                   1104400 non-null  int64
 12  DS_GENERO                   1104400 non-null  object
 13  CD_ESTADO_CIVIL             1104400 non-null  int64
 14  DS_ESTADO_CIVIL             1104400 non-null  object
 15  CD_FAIXA_ETARIA             1104400 non-null  int64
 16  DS_FAIXA_ETARIA             1104400 non-null  object
 17  CD_GRAU_ESCOLARIDADE        1104400 non-null  int64
 18  DS_GRAU_ESCOLARIDADE        1104400 non-null  object
 19  QT_ELEITORES_PERFIL         1104400 non-null  int64
 20  QT_ELEITORES_BIOMETRIA      1104400 non-null  int64
 21  QT_ELEITORES_DEFICIENCIA    1104400 non-null  int64
 22  QT_ELEITORES_INC_NM_SOCIAL  1104400 non-null  int64
dtypes: int64(13), object(10)
memory usage: 193.8+ MB

In [47]:
df_perfil = df_perfil[df_perfil.NM_MUNICIPIO.eq('MANAUS')]
df_perfil.head(5)

      DT_GERACAO  ... QT_ELEITORES_INC_NM_SOCIAL
4039  01/08/2020  ...                          0
4040  01/08/2020  ...                          0
4041  01/08/2020  ...                          0
4042  01/08/2020  ...                          0
4043  01/08/2020  ...                          0

[5 rows x 23 columns]

# Carga

In [ ]:
%cd /content
!tar -czvf eleicoes2020.tar.gz datasets/*

/content
datasets/eleicoes.csv
datasets/escolas.csv
datasets/leiame-boletim_urna.pdf
datasets/prefeitos_2t.csv
datasets/prefeitos.csv
datasets/resultados_prefeito_2t.csv
datasets/resultados_prefeito.csv
datasets/resultados_vereador.csv
datasets/secoes.csv
datasets/vereadores.csv

In [ ]:
# sobrescreve o arquivo compartilhado: 1-1v_7xBem5VdYwFFaaNl2EKPLYaDadPa
!cp eleicoes2020.tar.gz /content/gdrive/MyDrive/uea-data-science/04-data-processing/trabalho-final

In [ ]:
# remove o diretório
!rm -rf datasets

In [ ]:
!tar -zxvf eleicoes2020.tar.gz

datasets/eleicoes.csv
datasets/escolas.csv
datasets/leiame-boletim_urna.pdf
datasets/prefeitos_2t.csv
datasets/prefeitos.csv
datasets/resultados_prefeito_2t.csv
datasets/resultados_prefeito.csv
datasets/resultados_vereador.csv
datasets/secoes.csv
datasets/vereadores.csv