# Trabalho Final

## ETL
Extração, Carregamento e Transformação

### 1 - Como realizar a aquisição dos dados?

### 2 – Como converter os dados?

### 3 - Parte de processamento e análise dos dados

#### Baixar os dados do Repositório do Google Drive

In [ ]:
!curl -o eleicoes2020.tar.gz -s -OL 'https://drive.google.com/uc?export=download&id=1cnYcMzRWRj1pFiRkZ7yFjpoiG_Kw54b4'
!tar -zxvf eleicoes2020.tar.gz
!rm eleicoes2020.tar.gz

data/prefeitos.csv
data/prefeitos_2t.csv
data/resultados_prefeito.csv
data/resultados_prefeito_2t.csv
data/resultados_vereador.csv
data/vereadores.csv
data/zonas_eleitorais.csv

#### Importar os dados

In [ ]:
import pandas as pd
import numpy as np

#### Ler os Candidatos à Prefeito de Manaus e salva-los na variável "df_p"

In [ ]:
df_p = pd.read_csv('data/prefeitos.csv')
df_p.sample(10)

    eleicao  uf municipio     cargo  numero       partido             candidato
3       426  AM    MANAUS  Prefeito      19          PODE      AMAZONINO MENDES
8       426  AM    MANAUS  Prefeito      55           PSD       RICARDO NICOLAU
2       426  AM    MANAUS  Prefeito      16          PSTU  GILBERTO VASCONCELOS
7       426  AM    MANAUS  Prefeito      51      PATRIOTA       CORONEL MENEZES
6       426  AM    MANAUS  Prefeito      30          NOVO           ROMERO REIS
5       426  AM    MANAUS  Prefeito      27            DC           CHICO PRETO
10      426  AM    MANAUS  Prefeito      70        AVANTE         DAVID ALMEIDA
9       426  AM    MANAUS  Prefeito      65       PC do B          MARCELO AMIL
4       426  AM    MANAUS  Prefeito      22            PL    ALFREDO NASCIMENTO
0       426  AM    MANAUS  Prefeito      10  REPUBLICANOS  CAPITÃO ALBERTO NETO

In [ ]:
df_p2t = pd.read_csv('data/prefeitos_2t.csv')
df_p2t.head()

   eleicao  uf municipio     cargo  numero partido         candidato
0      427  AM    MANAUS  Prefeito      19    PODE  AMAZONINO MENDES
1      427  AM    MANAUS  Prefeito      70  AVANTE     DAVID ALMEIDA

In [ ]:
df_rp = pd.read_csv('data/resultados_prefeito.csv')
df_rp.sample(10)

       eleicao  uf municipio  zona  ...     cargo numero                tipo votos
8736       426  AM    MANAUS    32  ...  Prefeito     51              Válido    31
10514      426  AM    MANAUS    32  ...  Prefeito     22              Válido     3
24516      426  AM    MANAUS    62  ...  Prefeito     22              Válido     5
3223       426  AM    MANAUS     2  ...  Prefeito     30              Válido    27
4677       426  AM    MANAUS     2  ...  Prefeito     16              Válido     2
2660       426  AM    MANAUS     1  ...  Prefeito     96                Nulo    17
8558       426  AM    MANAUS    32  ...  Prefeito     22              Válido    15
9776       426  AM    MANAUS    32  ...  Prefeito     10              Válido    24
35627      426  AM    MANAUS    68  ...  Prefeito     51              Válido    18
30176      426  AM    MANAUS    63  ...  Prefeito     27  Anulado sub judice     6

[10 rows x 9 columns]

In [ ]:
df_rp2 = pd.read_csv('data/resultados_prefeito_2t.csv')
df_rp2.sample(10)

       eleicao  uf municipio  zona  secao     cargo  numero    tipo  votos
10646      427  AM    MANAUS    65    393  Prefeito      96    Nulo     22
5697       427  AM    MANAUS    40    553  Prefeito      95  Branco     10
4439       427  AM    MANAUS    37    649  Prefeito      96    Nulo     23
685        427  AM    MANAUS     1    831  Prefeito      70  Válido     99
10457      427  AM    MANAUS    65    238  Prefeito      95  Branco     19
1197       427  AM    MANAUS     2    599  Prefeito      70  Válido    143
4790       427  AM    MANAUS    40    326  Prefeito      95  Branco      9
13287      427  AM    MANAUS    70    756  Prefeito      95  Branco      8
8379       427  AM    MANAUS    62    394  Prefeito      19  Válido    166
510        427  AM    MANAUS     1    778  Prefeito      95  Branco     18

In [ ]:
df_rv = pd.read_csv('data/resultados_vereador.csv')
df_rv.sample(10)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        eleicao  uf municipio  zona secao     cargo  numero    tipo  votos
344402      426  AM    MANAUS    62   528  Vereador   65000  Válido      1
161147      426  AM    MANAUS    37   592  Vereador   22012  Válido      1
14376       426  AM    MANAUS     1   735  Vereador   13601  Válido      4
45196       426  AM    MANAUS     2   576  Vereador   19900  Válido      1
76087       426  AM    MANAUS    31   557  Vereador   20274  Válido      1
317225      426  AM    MANAUS    62   353  Vereador   90799  Válido      1
381441      426  AM    MANAUS    63   632  Vereador   70192  Válido      1
331737      426  AM    MANAUS    62   446  Vereador   25333  Válido      1
14907       426  AM    MANAUS     1   738  Vereador   51300  Válido      1
453356      426  AM    MANAUS    68   494  Vereador   14111  Válido      1

In [ ]:
df_v = pd.read_csv('data/vereadores.csv')
df_v.sample(10)

     eleicao  uf municipio  ... numero    partido                    candidato
51       426  AM    MANAUS  ...  20002        PSC                    LAURA LYS
53       426  AM    MANAUS  ...  20010        PSC              MAURO MOTO TÁXI
70       426  AM    MANAUS  ...  23000  CIDADANIA                    MARIVALDO
49       426  AM    MANAUS  ...  19999       PODE            KARINA QUEIROZ AM
92       426  AM    MANAUS  ...  28888       PRTB               CORONEL ROSSES
126      426  AM    MANAUS  ...  45145       PSDB                MARCELO RUBIM
157      426  AM    MANAUS  ...  70169     AVANTE  ENFERMEIRO SEBASTIAO CARLOS
107      426  AM    MANAUS  ...  40004        PSB                  MARCO SAHDO
151      426  AM    MANAUS  ...  65123    PC do B                 LUCIA ANTONY
90       426  AM    MANAUS  ...  28777       PRTB                  GINA GARCIA

[10 rows x 7 columns]

In [ ]:
df_z = pd.read_csv('data/zonas_eleitorais.csv')
df_z.sample(10)

    zona processo  ...                 municipio  uf
21    22  04-0022  ...     SÃO PAULO DE OLIVENÇA  AM
28    31  04-0031  ...                    MANAUS  AM
6      7  04-0007  ...                   CODAJÁS  AM
10    11  04-0011  ...                  EIRUNEPÉ  AM
38    42  04-0042  ...          ATALAIA DO NORTE  AM
11    12  04-0012  ...                    LÁBREA  AM
42    46  04-0046  ...                    ENVIRA  AM
49    56  04-0056  ...                  IRANDUBA  AM
0      1  04-0001  ...                    MANAUS  AM
18    19  04-0019  ...  SÃO GABRIEL DA CACHOEIRA  AM

[10 rows x 7 columns]

In [ ]:
pd.merge(df_rp, df_p)

       eleicao  uf municipio  ...  votos       partido             candidato
0          426  AM    MANAUS  ...     19  REPUBLICANOS  CAPITÃO ALBERTO NETO
1          426  AM    MANAUS  ...      9  REPUBLICANOS  CAPITÃO ALBERTO NETO
2          426  AM    MANAUS  ...     28  REPUBLICANOS  CAPITÃO ALBERTO NETO
3          426  AM    MANAUS  ...     24  REPUBLICANOS  CAPITÃO ALBERTO NETO
4          426  AM    MANAUS  ...     21  REPUBLICANOS  CAPITÃO ALBERTO NETO
...        ...  ..       ...  ...    ...           ...                   ...
32589      426  AM    MANAUS  ...      1       PC do B          MARCELO AMIL
32590      426  AM    MANAUS  ...      1       PC do B          MARCELO AMIL
32591      426  AM    MANAUS  ...      1       PC do B          MARCELO AMIL
32592      426  AM    MANAUS  ...      1       PC do B          MARCELO AMIL
32593      426  AM    MANAUS  ...      1       PC do B          MARCELO AMIL

[32594 rows x 11 columns]

In [ ]:
pd.merge(df_rv, df_v)

        eleicao  uf municipio  ...  votos       partido        candidato
0           426  AM    MANAUS  ...      3  REPUBLICANOS  SERGINHO CAMARA
1           426  AM    MANAUS  ...      3  REPUBLICANOS  SERGINHO CAMARA
2           426  AM    MANAUS  ...      1  REPUBLICANOS  SERGINHO CAMARA
3           426  AM    MANAUS  ...      2  REPUBLICANOS  SERGINHO CAMARA
4           426  AM    MANAUS  ...      3  REPUBLICANOS  SERGINHO CAMARA
...         ...  ..       ...  ...    ...           ...              ...
172633      426  AM    MANAUS  ...      1           MDB   FELIPE ANDRADE
172634      426  AM    MANAUS  ...      1           MDB   FELIPE ANDRADE
172635      426  AM    MANAUS  ...      1           MDB   FELIPE ANDRADE
172636      426  AM    MANAUS  ...      1           MDB   FELIPE ANDRADE
172637      426  AM    MANAUS  ...      1           MDB   FELIPE ANDRADE

[172638 rows x 11 columns]


####3.1 – Número de votos por seção
####3.2 – Número de votos por partido
####3.3 – Quantidade de eleitores aptos a votar e quantos foram votar.
####3.4 – Normalização e discretização

### Bibliografia
https://dados.gov.br/dataset/prestacao-de-contas-das-campanhas-eleitorais
https://divulgacandcontas.tse.jus.br/divulga/#/municipios/2020/2030402020/02550/candidatos
https://divulgacandcontas.tse.jus.br/divulga/#
http://idebescola.inep.gov.br/ideb/consulta-publica