<a href="https://colab.research.google.com/github/bmnds/uea-data-science-04-data-processing/blob/main/trabalho-final/Notebook_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pwd

/content

In [2]:
# Importando libs necessárias
import pandas as pd

# Extração

In [3]:
# Montar o diretório compartilhado do Google Drive
from google.colab import drive
drive.mount('/content/gdrive')
%cd /content/gdrive

Mounted at /content/gdrive
/content/gdrive

In [4]:
# Listar arquivos do diretório compartilhado
%cd MyDrive/uea-data-science/04-data-processing/trabalho-final/datasets
!ls

/content/gdrive/MyDrive/uea-data-science/04-data-processing/trabalho-final/datasets
bweb_1t_AM_181120201549.zip
bweb_2t_AM_301120201245.zip
csv
dados-bairros-manaus.zip
detalhe_votacao_secao_2020.zip
eleitorado_local_votacao_2020.zip
perfil_comparecimento_abstencao_2020.zip
perfil_eleitorado_2020.zip
perfil_eleitor_secao_2020_AM.zip
prestacao_contas_anual_partidaria_2020.zip
prestacao_de_contas_eleitorais_candidatos_2020.zip
votacao_candidato_munzona_2020.zip
votacao_secao_2020_AM.zip

# Transformação

In [5]:
!mkdir /content/work #diretório temporário de trabalho
!mkdir /content/datasets #diretório com os arquivos processados

mkdir: cannot create directory ‘/content/work’: File exists
mkdir: cannot create directory ‘/content/datasets’: File exists

## Dados de Boletins de Urna

In [6]:
# boletins de urna do 1o turno
!unzip -u bweb_1t_AM_181120201549.zip -d /content/work

Archive:  bweb_1t_AM_181120201549.zip
  inflating: /content/work/bweb_1t_AM_181120201549.csv
  inflating: /content/work/leiame-boletimurnaweb.pdf

In [7]:
!cp /content/work/leiame-boletimurnaweb.pdf /content/datasets/leiame-boletim_urna.pdf

In [8]:
df_bu_1t = pd.read_csv('/content/work/bweb_1t_AM_181120201549.csv', encoding="ISO-8859-1", delimiter=';')
df_bu_1t.sample(5)

        DT_GERACAO HH_GERACAO  ...  NR_JUNTA_APURADORA  NR_TURMA_APURADORA
442901  18/11/2020   15:49:53  ...                  -1                  -1
361105  18/11/2020   15:49:53  ...                  -1                  -1
770072  18/11/2020   15:49:53  ...                  -1                  -1
758529  18/11/2020   15:49:53  ...                  -1                  -1
608123  18/11/2020   15:49:53  ...                  -1                  -1

[5 rows x 45 columns]

In [9]:
df_bu_1t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 848941 entries, 0 to 848940
Data columns (total 45 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   DT_GERACAO                   848941 non-null  object
 1   HH_GERACAO                   848941 non-null  object
 2   ANO_ELEICAO                  848941 non-null  int64
 3   CD_TIPO_ELEICAO              848941 non-null  int64
 4   NM_TIPO_ELEICAO              848941 non-null  object
 5   CD_PLEITO                    848941 non-null  int64
 6   DT_PLEITO                    848941 non-null  object
 7   NR_TURNO                     848941 non-null  int64
 8   CD_ELEICAO                   848941 non-null  int64
 9   DS_ELEICAO                   848941 non-null  object
 10  SG_UF                        848941 non-null  object
 11  CD_MUNICIPIO                 848941 non-null  int64
 12  NM_MUNICIPIO                 848941 non-null  object
 13  NR_ZONA                      848941 non-null  int64
 14  NR_SECAO                     848941 non-null  int64
 15  NR_LOCAL_VOTACAO             848941 non-null  int64
 16  CD_CARGO_PERGUNTA            848941 non-null  int64
 17  DS_CARGO_PERGUNTA            848941 non-null  object
 18  NR_PARTIDO                   848941 non-null  int64
 19  SG_PARTIDO                   848941 non-null  object
 20  NM_PARTIDO                   848941 non-null  object
 21  DT_BU_RECEBIDO               848941 non-null  object
 22  QT_APTOS                     848941 non-null  int64
 23  QT_COMPARECIMENTO            848941 non-null  int64
 24  QT_ABSTENCOES                848941 non-null  int64
 25  CD_TIPO_URNA                 848941 non-null  int64
 26  DS_TIPO_URNA                 848941 non-null  object
 27  CD_TIPO_VOTAVEL              848941 non-null  int64
 28  DS_TIPO_VOTAVEL              848941 non-null  object
 29  NR_VOTAVEL                   848941 non-null  int64
 30  NM_VOTAVEL                   848941 non-null  object
 31  QT_VOTOS                     848941 non-null  int64
 32  NR_URNA_EFETIVADA            848941 non-null  int64
 33  CD_CARGA_1_URNA_EFETIVADA    848941 non-null  object
 34  CD_CARGA_2_URNA_EFETIVADA    848941 non-null  float64
 35  CD_FLASHCARD_URNA_EFETIVADA  848941 non-null  object
 36  DT_CARGA_URNA_EFETIVADA      848941 non-null  object
 37  DS_CARGO_PERGUNTA_SECAO      848941 non-null  object
 38  DS_AGREGADAS                 848941 non-null  object
 39  DT_ABERTURA                  848828 non-null  object
 40  DT_ENCERRAMENTO              848828 non-null  object
 41  QT_ELEITORES_BIOMETRIA_NH    848941 non-null  int64
 42  DT_EMISSAO_BU                848941 non-null  object
 43  NR_JUNTA_APURADORA           848941 non-null  int64
 44  NR_TURMA_APURADORA           848941 non-null  int64
dtypes: float64(1), int64(22), object(22)
memory usage: 291.5+ MB

In [10]:
df_bu_1t.DS_CARGO_PERGUNTA.unique()

array(['Prefeito', 'Vereador'], dtype=object)

In [11]:
df_bu_1t.SG_PARTIDO.value_counts()

PSC              62642
AVANTE           60226
REPUBLICANOS     53694
PL               40921
PATRIOTA         40139
PP               36335
PT               34365
PSDB             33885
PODE             33417
PSL              33355
PTB              32379
MDB              31878
PMN              30224
PSB              29228
PSD              27816
DC               26548
CIDADANIA        26338
PROS             26234
PV               25449
#NULO#           24702
DEM              24324
PRTB             21962
PTC              21249
SOLIDARIEDADE    17075
PC do B          16626
PDT              12287
PMB               9386
NOVO              7568
PSOL              4880
REDE              2877
PSTU               932
Name: SG_PARTIDO, dtype: int64

In [12]:
df_bu_1t.NM_MUNICIPIO.value_counts()

MANAUS         590874
MANACAPURU      20977
ITACOATIARA     20787
PARINTINS       18377
TEFÉ            12425
                ...
AMATURÁ          1116
ANAMÃ            1092
CANUTAMA         1033
ITAMARATI         800
JAPURÁ            583
Name: NM_MUNICIPIO, Length: 62, dtype: int64

In [13]:
df_bu_1t.DS_TIPO_VOTAVEL.unique()

array(['Nominal', 'Nulo', 'Branco', 'Legenda'], dtype=object)

In [14]:
df_bu_1t.DS_TIPO_URNA.unique()

array(['APURADA'], dtype=object)

In [15]:
df_bu_1t.DS_AGREGADAS.value_counts()

#NULO#     805387
80            585
73            551
50            467
61            423
            ...
23 / 45        24
65             19
17 / 26        19
32             17
111            14
Name: DS_AGREGADAS, Length: 294, dtype: int64

In [16]:
df_bu_1t = df_bu_1t[df_bu_1t.NM_MUNICIPIO.eq('MANAUS')] \
                  .drop(columns=['DT_GERACAO',	'HH_GERACAO',	'CD_TIPO_ELEICAO', 'DT_BU_RECEBIDO',	'CD_TIPO_URNA', 'DS_TIPO_URNA',	
                                    'CD_TIPO_VOTAVEL',	'NR_URNA_EFETIVADA',	'CD_CARGA_1_URNA_EFETIVADA',	'CD_CARGA_2_URNA_EFETIVADA',	
                                    'CD_FLASHCARD_URNA_EFETIVADA',	'DT_CARGA_URNA_EFETIVADA',	'DS_CARGO_PERGUNTA_SECAO',	'DS_AGREGADAS',
                                    'DT_ABERTURA',	'DT_ENCERRAMENTO',	'QT_ELEITORES_BIOMETRIA_NH',	'NR_JUNTA_APURADORA',	'NR_TURMA_APURADORA'])
df_bu_1t.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 590874 entries, 0 to 848940
Data columns (total 26 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ANO_ELEICAO        590874 non-null  int64
 1   NM_TIPO_ELEICAO    590874 non-null  object
 2   CD_PLEITO          590874 non-null  int64
 3   DT_PLEITO          590874 non-null  object
 4   NR_TURNO           590874 non-null  int64
 5   CD_ELEICAO         590874 non-null  int64
 6   DS_ELEICAO         590874 non-null  object
 7   SG_UF              590874 non-null  object
 8   CD_MUNICIPIO       590874 non-null  int64
 9   NM_MUNICIPIO       590874 non-null  object
 10  NR_ZONA            590874 non-null  int64
 11  NR_SECAO           590874 non-null  int64
 12  NR_LOCAL_VOTACAO   590874 non-null  int64
 13  CD_CARGO_PERGUNTA  590874 non-null  int64
 14  DS_CARGO_PERGUNTA  590874 non-null  object
 15  NR_PARTIDO         590874 non-null  int64
 16  SG_PARTIDO         590874 non-null  object
 17  NM_PARTIDO         590874 non-null  object
 18  QT_APTOS           590874 non-null  int64
 19  QT_COMPARECIMENTO  590874 non-null  int64
 20  QT_ABSTENCOES      590874 non-null  int64
 21  DS_TIPO_VOTAVEL    590874 non-null  object
 22  NR_VOTAVEL         590874 non-null  int64
 23  NM_VOTAVEL         590874 non-null  object
 24  QT_VOTOS           590874 non-null  int64
 25  DT_EMISSAO_BU      590874 non-null  object
dtypes: int64(15), object(11)
memory usage: 121.7+ MB

### Candidatos a Prefeito

In [17]:
df_prefeitos = df_bu_1t[df_bu_1t.DS_CARGO_PERGUNTA.eq('Prefeito') & df_bu_1t.DS_TIPO_VOTAVEL.eq('Nominal')] \
                      [['CD_ELEICAO','DS_CARGO_PERGUNTA','NR_VOTAVEL','SG_PARTIDO','NM_VOTAVEL']] \
                         .drop_duplicates() \
                         .sort_values(['NR_VOTAVEL'])
df_prefeitos.columns = ['eleicao',	'cargo',	'numero', 'partido', 'candidato']
df_prefeitos

     eleicao     cargo  numero       partido             candidato
6        426  Prefeito      10  REPUBLICANOS  CAPITÃO ALBERTO NETO
9        426  Prefeito      13            PT            ZE RICARDO
209      426  Prefeito      16          PSTU  GILBERTO VASCONCELOS
7        426  Prefeito      19          PODE      AMAZONINO MENDES
5        426  Prefeito      22            PL    ALFREDO NASCIMENTO
0        426  Prefeito      27            DC           CHICO PRETO
10       426  Prefeito      30          NOVO           ROMERO REIS
8        426  Prefeito      51      PATRIOTA       CORONEL MENEZES
4        426  Prefeito      55           PSD       RICARDO NICOLAU
217      426  Prefeito      65       PC do B          MARCELO AMIL
3        426  Prefeito      70        AVANTE         DAVID ALMEIDA

In [18]:
df_prefeitos.to_csv('/content/datasets/prefeitos.csv')

### Resultados para Prefeito

In [19]:
df_resultados_prefeito = df_bu_1t[df_bu_1t.DS_CARGO_PERGUNTA.eq('Prefeito')] \
    [['CD_ELEICAO',	'NR_ZONA'	,'NR_SECAO', 'NR_LOCAL_VOTACAO', 'DS_CARGO_PERGUNTA'	,'NR_VOTAVEL',	'QT_VOTOS']] \
    .sort_values(['NR_ZONA','NR_SECAO','NR_VOTAVEL'])
df_resultados_prefeito.columns = ['eleicao',	'zona',	'secao', 'local',	'cargo',	'numero',	'votos']    
df_resultados_prefeito

        eleicao  zona  secao  local     cargo  numero  votos
6           426     1    640   2429  Prefeito      10     19
9           426     1    640   2429  Prefeito      13     49
7           426     1    640   2429  Prefeito      19     90
5           426     1    640   2429  Prefeito      22      7
0           426     1    640   2429  Prefeito      27      7
...         ...   ...    ...    ...       ...     ...    ...
848806      426    70    808   1848  Prefeito      51     13
848799      426    70    808   1848  Prefeito      55     19
848804      426    70    808   1848  Prefeito      70     46
848796      426    70    808   1848  Prefeito      95      9
848795      426    70    808   1848  Prefeito      96     22

[39330 rows x 7 columns]

In [20]:
filename = '/content/datasets/resultados_prefeito.csv'
df_resultados_prefeito.to_csv(filename)
print(f'Resultado da votação para prefeito no 1o turno gravada em \'{filename}\'')

Resultado da votação para prefeito no 1o turno gravada em '/content/datasets/resultados_prefeito.csv'

### Candidatos a Vereador

In [21]:
df_vereadores = df_bu_1t[df_bu_1t.DS_CARGO_PERGUNTA.eq('Vereador') & df_bu_1t.DS_TIPO_VOTAVEL.eq('Nominal')] \
                        [['CD_ELEICAO','DS_CARGO_PERGUNTA','NR_VOTAVEL','SG_PARTIDO','NM_VOTAVEL']] \
                         .drop_duplicates() \
                         .sort_values(['NR_VOTAVEL'])
df_vereadores.columns = ['eleicao',	'cargo',	'numero', 'partido', 'candidato']
df_vereadores

       eleicao     cargo  numero       partido                candidato
3083       426  Vereador   10000  REPUBLICANOS            CABO COUTINHO
32033      426  Vereador   10007  REPUBLICANOS     SARGENTO ANA CLAUDIA
36326      426  Vereador   10008  REPUBLICANOS             CHAY CHANTEL
4547       426  Vereador   10010  REPUBLICANOS              LUCAS SALES
453        426  Vereador   10018  REPUBLICANOS  JOSUE DOS CAMINHONEIROS
...        ...       ...     ...           ...                      ...
950        426  Vereador   90800          PROS          EMERSON BOTELHO
10173      426  Vereador   90888          PROS           LORA DO SOCIAL
1335       426  Vereador   90900          PROS              ERICO BRAGA
1615       426  Vereador   90901          PROS             LUIZ ALBERTO
3751       426  Vereador   90999          PROS           CRISTINA PAIVA

[1374 rows x 5 columns]

In [22]:
df_vereadores.to_csv('/content/datasets/vereadores.csv')

### Resultados para Vereador

In [23]:
df_resultados_vereador = df_bu_1t[df_bu_1t.DS_CARGO_PERGUNTA.eq('Vereador')] \
    [['CD_ELEICAO',	'NR_ZONA'	,'NR_SECAO', 'NR_LOCAL_VOTACAO', 'DS_CARGO_PERGUNTA'	,'NR_VOTAVEL',	'QT_VOTOS']] \
    .sort_values(['NR_ZONA','NR_SECAO','NR_VOTAVEL'])
df_resultados_vereador.columns = ['eleicao',	'zona',	'secao', 'local',	'cargo',	'numero',	'votos']    
df_resultados_vereador

        eleicao  zona  secao  local     cargo  numero  votos
200         426     1    640   2429  Vereador      11      1
104         426     1    640   2429  Vereador      13      2
185         426     1    640   2429  Vereador      18      1
25          426     1    640   2429  Vereador      19      2
54          426     1    640   2429  Vereador      50      1
...         ...   ...    ...    ...       ...     ...    ...
848823      426    70    808   1848  Vereador   77888      4
848898      426    70    808   1848  Vereador   90177      2
848832      426    70    808   1848  Vereador   90321      1
848830      426    70    808   1848  Vereador   90523      1
848887      426    70    808   1848  Vereador   90789      2

[551544 rows x 7 columns]

In [24]:
filename = '/content/datasets/resultados_vereador.csv'
df_resultados_vereador.to_csv(filename)
print(f'Resultado da votação para Vereador no 1o turno gravada em \'{filename}\'')

Resultado da votação para Vereador no 1o turno gravada em '/content/datasets/resultados_vereador.csv'

### Candidatos a Prefeito (2o turno)

In [25]:
# boletins de urna do 2o turno
!unzip -u bweb_2t_AM_301120201245.zip -d /content/work

Archive:  bweb_2t_AM_301120201245.zip
  inflating: /content/work/bweb_2t_AM_301120201245.csv

In [26]:
df_bu_2t = pd.read_csv('/content/work/bweb_2t_AM_301120201245.csv', encoding="ISO-8859-1", delimiter=';')
df_bu_2t.sample(5)

       DT_GERACAO HH_GERACAO  ...  NR_JUNTA_APURADORA  NR_TURMA_APURADORA
10621  30/11/2020   12:37:06  ...                  -1                  -1
6530   30/11/2020   12:37:06  ...                  -1                  -1
11287  30/11/2020   12:37:06  ...                  -1                  -1
196    30/11/2020   12:37:06  ...                  -1                  -1
2593   30/11/2020   12:37:06  ...                  -1                  -1

[5 rows x 45 columns]

In [27]:
df_prefeitos_2t = df_bu_2t[df_bu_2t.DS_CARGO_PERGUNTA.eq('Prefeito') & df_bu_2t.DS_TIPO_VOTAVEL.eq('Nominal')] \
                       [['CD_ELEICAO','DS_CARGO_PERGUNTA','NR_VOTAVEL','SG_PARTIDO','NM_VOTAVEL']] \
                         .drop_duplicates() \
                         .sort_values(['NR_VOTAVEL'])
df_prefeitos_2t.columns = ['eleicao',	'cargo',	'numero', 'partido', 'candidato']
df_prefeitos_2t

   eleicao     cargo  numero partido         candidato
1      427  Prefeito      19    PODE  AMAZONINO MENDES
0      427  Prefeito      70  AVANTE     DAVID ALMEIDA

In [28]:
filename = '/content/datasets/prefeitos_2t.csv'
df_prefeitos_2t.to_csv(filename)
print(f'Candidatos a Prefeito (2o turno) gravados em \'{filename}\'')

Candidatos a Prefeito (2o turno) gravados em '/content/datasets/prefeitos_2t.csv'

### Resultados para Prefeito (2o turno)

In [29]:
df_resultados_prefeito_2t = df_bu_2t[df_bu_2t.DS_CARGO_PERGUNTA.eq('Prefeito')] \
    [['CD_ELEICAO',	'NR_ZONA'	,'NR_SECAO', 'NR_LOCAL_VOTACAO', 'DS_CARGO_PERGUNTA'	,'NR_VOTAVEL',	'QT_VOTOS']] \
    .sort_values(['NR_ZONA','NR_SECAO','NR_VOTAVEL'])
df_resultados_prefeito_2t.columns = ['eleicao',	'zona',	'secao', 'local',	'cargo',	'numero',	'votos']    
df_resultados_prefeito_2t

       eleicao  zona  secao  local     cargo  numero  votos
1          427     1    640   2429  Prefeito      19    156
0          427     1    640   2429  Prefeito      70    135
3          427     1    640   2429  Prefeito      95     10
2          427     1    640   2429  Prefeito      96     29
4          427     1    641   2089  Prefeito      19    153
...        ...   ...    ...    ...       ...     ...    ...
13471      427    70    806   2089  Prefeito      96     16
13476      427    70    808   1848  Prefeito      19     68
13473      427    70    808   1848  Prefeito      70    122
13475      427    70    808   1848  Prefeito      95     11
13474      427    70    808   1848  Prefeito      96     14

[13477 rows x 7 columns]

In [30]:
filename = '/content/datasets/resultados_prefeito_2t.csv'
df_resultados_prefeito_2t.to_csv(filename)
print(f'Resultado da votação para Prefeito (2o turno) gravado em \'{filename}\'')

Resultado da votação para Prefeito (2o turno) gravado em '/content/datasets/resultados_prefeito_2t.csv'

### Eleições

In [31]:
df1 = df_bu_1t[['ANO_ELEICAO',	'NM_TIPO_ELEICAO',	'CD_PLEITO',	'DT_PLEITO', 'NR_TURNO',	'CD_ELEICAO',	'DS_ELEICAO']] \
               .drop_duplicates()
df2 = df_bu_2t[['ANO_ELEICAO',	'NM_TIPO_ELEICAO',	'CD_PLEITO',	'DT_PLEITO', 'NR_TURNO',	'CD_ELEICAO',	'DS_ELEICAO']] \
               .drop_duplicates()
df_eleicao = df1.append(df2)
df_eleicao.columns = ['ano', 'tipo', 'pleito', 'data', 'turno', 'eleicao', 'descricao']
df_eleicao

    ano               tipo  pleito  ... turno  eleicao                 descricao
0  2020  Eleição Ordinária     304  ...     1      426  Eleições Municipais 2020
0  2020  Eleição Ordinária     305  ...     2      427  Eleições Municipais 2020

[2 rows x 7 columns]

In [32]:
filename = '/content/datasets/eleicoes.csv'
df_eleicao.to_csv(filename)
print(f'Eleições gravadas em \'{filename}\'')

Eleições gravadas em '/content/datasets/eleicoes.csv'

### Limpeza do diretório de trabalho

In [33]:
# Limpeza do diretório temporário de trabalho
!rm -rf /content/work/*

## Locais de votação

In [34]:
# detalhes das seções
!unzip -u detalhe_votacao_secao_2020.zip -d /content/work

Archive:  detalhe_votacao_secao_2020.zip
  inflating: /content/work/detalhe_votacao_secao_2020_AC.csv
  inflating: /content/work/detalhe_votacao_secao_2020_AL.csv
  inflating: /content/work/detalhe_votacao_secao_2020_AM.csv
  inflating: /content/work/detalhe_votacao_secao_2020_AP.csv
  inflating: /content/work/detalhe_votacao_secao_2020_BA.csv
  inflating: /content/work/detalhe_votacao_secao_2020_BRASIL.csv
  inflating: /content/work/detalhe_votacao_secao_2020_CE.csv
  inflating: /content/work/detalhe_votacao_secao_2020_ES.csv
  inflating: /content/work/detalhe_votacao_secao_2020_GO.csv
  inflating: /content/work/detalhe_votacao_secao_2020_MA.csv
  inflating: /content/work/detalhe_votacao_secao_2020_MG.csv
  inflating: /content/work/detalhe_votacao_secao_2020_MS.csv
  inflating: /content/work/detalhe_votacao_secao_2020_MT.csv
  inflating: /content/work/detalhe_votacao_secao_2020_PA.csv
  inflating: /content/work/detalhe_votacao_secao_2020_PB.csv
  inflating: /content/work/detalhe_votacao_secao_2020_PE.csv
  inflating: /content/work/detalhe_votacao_secao_2020_PI.csv
  inflating: /content/work/detalhe_votacao_secao_2020_PR.csv
  inflating: /content/work/detalhe_votacao_secao_2020_RJ.csv
  inflating: /content/work/detalhe_votacao_secao_2020_RN.csv
  inflating: /content/work/detalhe_votacao_secao_2020_RO.csv
  inflating: /content/work/detalhe_votacao_secao_2020_RR.csv
  inflating: /content/work/detalhe_votacao_secao_2020_RS.csv
  inflating: /content/work/detalhe_votacao_secao_2020_SC.csv
  inflating: /content/work/detalhe_votacao_secao_2020_SE.csv
  inflating: /content/work/detalhe_votacao_secao_2020_SP.csv
  inflating: /content/work/detalhe_votacao_secao_2020_TO.csv
  inflating: /content/work/leiame.pdf

In [35]:
df_dvs = pd.read_csv('/content/work/detalhe_votacao_secao_2020_BRASIL.csv', encoding="ISO-8859-1", delimiter=';')
df_dvs.sample(5)

        DT_GERACAO HH_GERACAO  ...  QT_VOTOS_ANULADOS_APU_SEP  NR_LOCAL_VOTACAO
394682  09/12/2020   15:29:43  ...                          0              1015
892848  09/12/2020   15:29:43  ...                          0              1953
847092  09/12/2020   15:29:43  ...                          0              1090
672264  09/12/2020   15:29:43  ...                          0              1201
308581  09/12/2020   15:29:43  ...                          0              1120

[5 rows x 28 columns]

In [36]:
df_dvs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 897536 entries, 0 to 897535
Data columns (total 28 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   DT_GERACAO                 897536 non-null  object
 1   HH_GERACAO                 897536 non-null  object
 2   ANO_ELEICAO                897536 non-null  int64
 3   CD_TIPO_ELEICAO            897536 non-null  int64
 4   NM_TIPO_ELEICAO            897536 non-null  object
 5   NR_TURNO                   897536 non-null  int64
 6   CD_ELEICAO                 897536 non-null  int64
 7   DS_ELEICAO                 897536 non-null  object
 8   DT_ELEICAO                 897536 non-null  object
 9   TP_ABRANGENCIA             897536 non-null  object
 10  SG_UF                      897536 non-null  object
 11  SG_UE                      897536 non-null  int64
 12  NM_UE                      897536 non-null  object
 13  CD_MUNICIPIO               897536 non-null  int64
 14  NM_MUNICIPIO               897536 non-null  object
 15  NR_ZONA                    897536 non-null  int64
 16  NR_SECAO                   897536 non-null  int64
 17  CD_CARGO                   897536 non-null  int64
 18  DS_CARGO                   897536 non-null  object
 19  QT_APTOS                   897536 non-null  int64
 20  QT_COMPARECIMENTO          897536 non-null  int64
 21  QT_ABSTENCOES              897536 non-null  int64
 22  QT_VOTOS_NOMINAIS          897536 non-null  int64
 23  QT_VOTOS_BRANCOS           897536 non-null  int64
 24  QT_VOTOS_NULOS             897536 non-null  int64
 25  QT_VOTOS_LEGENDA           897536 non-null  int64
 26  QT_VOTOS_ANULADOS_APU_SEP  897536 non-null  int64
 27  NR_LOCAL_VOTACAO           897536 non-null  int64
dtypes: int64(18), object(10)
memory usage: 191.7+ MB

### Seções

In [37]:
df_secoes = df_dvs[df_dvs.NM_MUNICIPIO.eq('MANAUS')] \
                  [['CD_ELEICAO', 'NR_ZONA', 'NR_SECAO', 'NR_LOCAL_VOTACAO',
                    'QT_APTOS',	'QT_COMPARECIMENTO',	'QT_ABSTENCOES']] \
                    .sort_values(['NR_ZONA', 'NR_SECAO', 'CD_ELEICAO']) \
                    .drop_duplicates()
df_secoes.columns = ['eleicao', 'zona', 'secao', 'local','aptos','votos','abstencoes']
df_secoes

        eleicao  zona  secao  local  aptos  votos  abstencoes
41373       426     1    640   2429    411    348          63
725917      427     1    640   2429    411    330          81
325496      426     1    641   2089    393    326          67
328669      427     1    641   2089    393    308          85
138660      426     1    642   2321    397    341          56
...         ...   ...    ...    ...    ...    ...         ...
431441      427    70    805   2046    366    245         121
291560      426    70    806   2089    399    280         119
604720      427    70    806   2089    399    277         122
374725      426    70    808   1848    284    224          60
946         427    70    808   1848    284    215          69

[6742 rows x 7 columns]

In [38]:
filename = '/content/datasets/secoes.csv'
df_secoes.to_csv(filename)
print(f'Seções eleitorais gravadas em \'{filename}\'')

Seções eleitorais gravadas em '/content/datasets/secoes.csv'

In [39]:
dft_dvs = df_dvs[df_dvs.NM_MUNICIPIO.eq('MANAUS')] \
               [['CD_ELEICAO', 'NR_ZONA', 'NR_SECAO', 'NR_LOCAL_VOTACAO', 'DS_CARGO',
                 'QT_APTOS', 'QT_COMPARECIMENTO', 'QT_ABSTENCOES',
                 'QT_VOTOS_NOMINAIS',	'QT_VOTOS_BRANCOS',	'QT_VOTOS_NULOS', 'QT_VOTOS_LEGENDA']] \
                .sort_values(['CD_ELEICAO','NR_ZONA', 'NR_SECAO'])
dft_dvs

        CD_ELEICAO  NR_ZONA  ...  QT_VOTOS_NULOS  QT_VOTOS_LEGENDA
41373          426        1  ...              19                 0
205055         426        1  ...              16                11
325496         426        1  ...              23                 0
340194         426        1  ...              13                10
138660         426        1  ...              17                 6
...            ...      ...  ...             ...               ...
891487         427       70  ...               6                 0
624649         427       70  ...              15                 0
431441         427       70  ...              16                 0
604720         427       70  ...              16                 0
946            427       70  ...              14                 0

[10113 rows x 12 columns]

### Escolas

In [40]:
# detalhes das seções
!unzip -u eleitorado_local_votacao_2020.zip -d /content/work

Archive:  eleitorado_local_votacao_2020.zip
  inflating: /content/work/LEIAME.pdf
  inflating: /content/work/eleitorado_local_votacao_2020.csv

In [41]:
df = pd.read_csv('/content/work/eleitorado_local_votacao_2020.csv', encoding="ISO-8859-1", delimiter=';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 597429 entries, 0 to 597428
Data columns (total 32 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   DT_GERACAO              597429 non-null  object
 1   HH_GERACAO              597429 non-null  object
 2   AA_ELEICAO              597429 non-null  int64
 3   DT_ELEICAO              597429 non-null  object
 4   DS_ELEICAO              597429 non-null  object
 5   SG_UF                   597429 non-null  object
 6   CD_MUNICIPIO            597429 non-null  int64
 7   NM_MUNICIPIO            597429 non-null  object
 8   NR_ZONA                 597429 non-null  int64
 9   NR_SECAO                597429 non-null  int64
 10  CD_TIPO_SECAO_AGREGADA  597429 non-null  int64
 11  DS_TIPO_SECAO_AGREGADA  597429 non-null  object
 12  NR_LOCAL_VOTACAO        597429 non-null  int64
 13  NM_LOCAL_VOTACAO        597429 non-null  object
 14  CD_TIPO_LOCAL           597429 non-null  int64
 15  DS_TIPO_LOCAL           597429 non-null  object
 16  DS_ENDERECO             597429 non-null  object
 17  NM_BAIRRO               597429 non-null  object
 18  NR_CEP                  597429 non-null  int64
 19  NR_TELEFONE_LOCAL       597429 non-null  object
 20  NR_LATITUDE             597429 non-null  float64
 21  NR_LONGITUDE            597429 non-null  float64
 22  CD_SITU_LOCAL_VOTACAO   597429 non-null  int64
 23  DS_SITU_LOCAL_VOTACAO   597429 non-null  object
 24  CD_SITU_ZONA            597429 non-null  int64
 25  DS_SITU_ZONA            597429 non-null  object
 26  CD_SITU_SECAO           597429 non-null  int64
 27  DS_SITU_SECAO           597429 non-null  object
 28  CD_SITU_LOCALIDADE      597429 non-null  int64
 29  DS_SITU_LOCALIDADE      597429 non-null  object
 30  QT_ELEITOR              597429 non-null  int64
 31  QT_ELEITOR_ELEICAO      597429 non-null  int64
dtypes: float64(2), int64(14), object(16)
memory usage: 145.9+ MB

In [42]:
df[df.NR_ZONA.eq(32) & df.NM_MUNICIPIO.eq('MANAUS')]

        DT_GERACAO HH_GERACAO  ...  QT_ELEITOR QT_ELEITOR_ELEICAO
225     27/11/2020   13:04:41  ...         378                378
1911    27/11/2020   13:04:41  ...         346                349
2548    27/11/2020   13:04:41  ...         345                344
3146    27/11/2020   13:04:41  ...         350                347
4488    27/11/2020   13:04:41  ...         380                380
...            ...        ...  ...         ...                ...
590279  27/11/2020   13:04:41  ...         394                  0
592310  27/11/2020   13:04:41  ...         357                490
595554  27/11/2020   13:04:41  ...         295                291
595772  27/11/2020   13:04:41  ...         367                365
596404  27/11/2020   13:04:41  ...         369                369

[662 rows x 32 columns]

In [43]:
df_escolas = df[df.NM_MUNICIPIO.eq('MANAUS') & df.DS_TIPO_SECAO_AGREGADA.eq('Principal')] \
                  [['NR_ZONA', 'NR_SECAO', 'NR_LOCAL_VOTACAO', 'NM_LOCAL_VOTACAO',
                    'NM_BAIRRO','NR_LATITUDE',	'NR_LONGITUDE']] \
                    .sort_values(['NR_ZONA', 'NR_SECAO']) \
                    .drop_duplicates()
df_escolas.columns = ['zona', 'secao', 'local', 'nome', 'bairro', 'lat','long']
df_escolas

        zona  secao  local  ...               bairro       lat       long
90957      1    640   2429  ...         CACHOEIRINHA -1.000000  -1.000000
70444      1    641   2089  ...         CACHOEIRINHA -3.119252 -60.006131
179658     1    642   2321  ...                 RAIZ -3.123326 -59.995204
139511     1    643   2054  ...  PRACA 14 DE JANEIRO -3.118991 -60.011749
494185     1    644   2402  ...          SAO GERALDO -3.104937 -60.027054
...      ...    ...    ...  ...                  ...       ...        ...
142013    70    803   2003  ...       CIDADE DE DEUS -3.020089 -59.950070
382031    70    804   2038  ...          NOVO ALEIXO -3.043992 -59.957957
509896    70    805   2046  ...          NOVO ALEIXO -3.036308 -59.942780
216887    70    806   2089  ...       CIDADE DE DEUS -3.018721 -59.939805
244784    70    808   1848  ...       CIDADE DE DEUS -3.019144 -59.940297

[3371 rows x 7 columns]

In [44]:
filename = '/content/datasets/escolas.csv'
df_escolas.to_csv(filename)
print(f'Escolas gravadas em \'{filename}\'')

Escolas gravadas em '/content/datasets/escolas.csv'

In [45]:
# Limpeza do diretório temporário de trabalho
!rm -rf /content/work/*

## Perfil do Eleitorado

In [46]:
# perfil do eleitorado
!unzip -u perfil_eleitor_secao_2020_AM.zip -d /content/work

Archive:  perfil_eleitor_secao_2020_AM.zip
  inflating: /content/work/LEIAME.pdf
  inflating: /content/work/perfil_eleitor_secao_2020_AM.csv

In [47]:
df = pd.read_csv('/content/work/perfil_eleitor_secao_2020_AM.csv', encoding="ISO-8859-1", delimiter=';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1104400 entries, 0 to 1104399
Data columns (total 23 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   DT_GERACAO                  1104400 non-null  object
 1   HH_GERACAO                  1104400 non-null  object
 2   ANO_ELEICAO                 1104400 non-null  int64
 3   SG_UF                       1104400 non-null  object
 4   CD_MUNICIPIO                1104400 non-null  int64
 5   NM_MUNICIPIO                1104400 non-null  object
 6   CD_MUN_SIT_BIOMETRIA        1104400 non-null  int64
 7   DS_MUN_SIT_BIOMETRIA        1104400 non-null  object
 8   NR_ZONA                     1104400 non-null  int64
 9   NR_SECAO                    1104400 non-null  int64
 10  CD_LOCAL_VOTACAO            1104400 non-null  object
 11  CD_GENERO                   1104400 non-null  int64
 12  DS_GENERO                   1104400 non-null  object
 13  CD_ESTADO_CIVIL             1104400 non-null  int64
 14  DS_ESTADO_CIVIL             1104400 non-null  object
 15  CD_FAIXA_ETARIA             1104400 non-null  int64
 16  DS_FAIXA_ETARIA             1104400 non-null  object
 17  CD_GRAU_ESCOLARIDADE        1104400 non-null  int64
 18  DS_GRAU_ESCOLARIDADE        1104400 non-null  object
 19  QT_ELEITORES_PERFIL         1104400 non-null  int64
 20  QT_ELEITORES_BIOMETRIA      1104400 non-null  int64
 21  QT_ELEITORES_DEFICIENCIA    1104400 non-null  int64
 22  QT_ELEITORES_INC_NM_SOCIAL  1104400 non-null  int64
dtypes: int64(13), object(10)
memory usage: 193.8+ MB

In [48]:
df.sample(5)

        DT_GERACAO  ... QT_ELEITORES_INC_NM_SOCIAL
434060  01/08/2020  ...                          0
486973  01/08/2020  ...                          0
179686  01/08/2020  ...                          0
929787  01/08/2020  ...                          0
28716   01/08/2020  ...                          0

[5 rows x 23 columns]

In [49]:
df_perfil = df[df.NM_MUNICIPIO.eq('MANAUS')] \
                  [['NR_ZONA', 'NR_SECAO', 'DS_GENERO', 'DS_ESTADO_CIVIL',
                    'DS_FAIXA_ETARIA','DS_GRAU_ESCOLARIDADE',	'QT_ELEITORES_PERFIL']] \
                    .sort_values(['NR_ZONA', 'NR_SECAO']) \
                    .drop_duplicates()
df_perfil.columns = ['zona', 'secao', 'genero', 'estado_civil', 'faixa_etaria', \
                     'grau_escolaridade','eleitores']
df_perfil.head(5)

        zona  secao  ...              grau_escolaridade eleitores
519733     1    550  ...        ENSINO MÉDIO INCOMPLETO         1
519734     1    550  ...          ENSINO MÉDIO COMPLETO         1
519735     1    550  ...        ENSINO MÉDIO INCOMPLETO         5
519736     1    550  ...            SUPERIOR INCOMPLETO         2
519737     1    550  ...  ENSINO FUNDAMENTAL INCOMPLETO         2

[5 rows x 7 columns]

In [50]:
def create_or_replace_column(df, col, val):
  if col in df.columns:
    del df[col]

  df[col] = val

### Gênero

In [51]:
df_perfil.genero.sort_values().unique()

array(['FEMININO', 'MASCULINO'], dtype=object)

In [52]:
df_perfil_genero = df_perfil.groupby(['zona','secao', 'genero'])[['eleitores']].first().unstack()
df_perfil_genero.head()

           eleitores
genero      FEMININO MASCULINO
zona secao
1    550         6.0       1.0
     616         2.0       2.0
     640         1.0      12.0
     641         2.0       1.0
     642         3.0       3.0

### Faixa etária

In [53]:
df_perfil.faixa_etaria.sort_values().unique()

array(['100 anos ou mais              ', '16 anos                       ',
       '17 anos                       ', '18 anos                       ',
       '19 anos                       ', '20 anos                       ',
       '21 a 24 anos                  ', '25 a 29 anos                  ',
       '30 a 34 anos                  ', '35 a 39 anos                  ',
       '40 a 44 anos                  ', '45 a 49 anos                  ',
       '50 a 54 anos                  ', '55 a 59 anos                  ',
       '60 a 64 anos                  ', '65 a 69 anos                  ',
       '70 a 74 anos                  ', '75 a 79 anos                  ',
       '80 a 84 anos                  ', '85 a 89 anos                  ',
       '90 a 94 anos                  ', '95 a 99 anos                  ',
       'Inválido                      '], dtype=object)

In [54]:
faixas = {
    'jovem': ['16 anos', '17 anos', '18 anos', '19 anos', '20 anos'],
    'adulto': ['21 a 24 anos', '25 a 29 anos', '30 a 34 anos', '35 a 39 anos', '40 a 44 anos',
               '45 a 49 anos', '50 a 54 anos', '55 a 59 anos'],
    'idoso': ['60 a 64 anos', '65 a 69 anos', '70 a 74 anos', '75 a 79 anos', '80 a 84 anos', 
              '85 a 89 anos', '90 a 94 anos', '95 a 99 anos', '100 anos ou mais']
}

def transform_faixa_etaria(faixa):
  for key in faixas.keys():
    if faixa.strip() in faixas[key]:
      return key
  #print(f'faixa {faixa} nao encontrada')
  return 'sem_idade'

transform_faixa_etaria('21 anos                       ')

'sem_idade'

In [55]:
df_perfil['faixa_etaria'] = df_perfil.faixa_etaria.apply(transform_faixa_etaria)

df_perfil_faixa_etaria = df_perfil.groupby(['zona','secao', 'faixa_etaria'])[['eleitores']].first().unstack()
df_perfil_faixa_etaria.head()

             eleitores
faixa_etaria    adulto idoso jovem sem_idade
zona secao
1    550           2.0   1.0   1.0       NaN
     616           1.0   1.0   2.0       NaN
     640          12.0   1.0   NaN       NaN
     641           1.0   1.0   NaN       NaN
     642           3.0   2.0   NaN       NaN

### Estado civil

In [56]:
df_perfil.estado_civil.sort_values().unique()

array(['CASADO', 'DIVORCIADO', 'SEPARADO JUDICIALMENTE', 'SOLTEIRO',
       'VIÚVO'], dtype=object)

In [57]:
def transform_estado_civil(estado):
  if estado == 'VIÚVO':
    return 'viuvo'
  if estado == 'SEPARADO JUDICIALMENTE':
    return 'separado'
  return estado.lower()

transform_estado_civil('VIÚVO')

'viuvo'

In [58]:
df_perfil['estado_civil'] = df_perfil.estado_civil.apply(transform_estado_civil)

df_perfil_estado_civil = df_perfil.groupby(['zona','secao', 'estado_civil'])[['eleitores']].first().unstack()
df_perfil_estado_civil.head()

             eleitores
estado_civil    casado divorciado separado solteiro viuvo
zona secao
1    550           1.0        NaN      NaN      1.0   1.0
     616           1.0        1.0      1.0      2.0   1.0
     640           1.0        1.0      2.0     12.0   1.0
     641           1.0        2.0      1.0      2.0   1.0
     642           1.0        2.0      2.0      3.0   1.0

### Escolaridade

In [59]:
df_perfil.grau_escolaridade.sort_values().unique()

array(['ANALFABETO', 'ENSINO FUNDAMENTAL COMPLETO',
       'ENSINO FUNDAMENTAL INCOMPLETO', 'ENSINO MÉDIO COMPLETO',
       'ENSINO MÉDIO INCOMPLETO', 'LÊ E ESCREVE', 'SUPERIOR COMPLETO',
       'SUPERIOR INCOMPLETO'], dtype=object)

In [60]:
escolaridades = {
    'analfabeto': ['ANALFABETO'],
    'le_e_escreve': ['LÊ E ESCREVE'],
    'ensino_fundamental': ['ENSINO FUNDAMENTAL INCOMPLETO','ENSINO FUNDAMENTAL COMPLETO'],
    'ensino_medio': ['ENSINO MÉDIO INCOMPLETO', 'ENSINO MÉDIO COMPLETO'],
    'ensino_superior': ['SUPERIOR INCOMPLETO', 'SUPERIOR COMPLETO']
}

def transform_grau_escolaridade(escolaridade):
  for key in escolaridades.keys():
    if escolaridade in escolaridades[key]:
      return key
  return escolaridade

transform_grau_escolaridade('ENSINO MÉDIO INCOMPLETO')

'ensino_medio'

In [61]:
df_perfil['grau_escolaridade'] = df_perfil.grau_escolaridade.apply(transform_grau_escolaridade)

df_perfil_grau_escolaridade = df_perfil.groupby(['zona','secao', 'grau_escolaridade'])[['eleitores']].first().unstack()
df_perfil_grau_escolaridade.head()

                   eleitores                     ...
grau_escolaridade analfabeto ensino_fundamental  ... ensino_superior le_e_escreve
zona secao                                       ...
1    550                 1.0                2.0  ...             2.0          1.0
     616                 1.0                1.0  ...             2.0          1.0
     640                 1.0                1.0  ...             3.0          1.0
     641                 NaN                1.0  ...             1.0          1.0
     642                 1.0                3.0  ...             2.0          1.0

[5 rows x 5 columns]

## Dataset Final de Seções

| Atributo | Descrição |
| --- | --- |
| zona | Zona eleitoral |
| secao | Seção eleitoral |
| escola | Escola onde a seção eleitoral está situada |
| bairro | Bairro onde a escola está localizada
| lat | Latitude do ponto onde a escola está localizada |
| long | Longitude od ponto onde a escola está localizada |
| aptos | Quantidade de eleitores aptos a votar |
| votos | Quantidade de eleitores que votou (1o turno) |
| abstencoes | Quantidade de eleitores que não compareceu (1o turno) |
| votos_2t | Quantidade de eleitores que votou (2o turno) |
| abstencoes_2t | Quantidade de eleitores que não compareceu (2o turno) |
| masculino | Quantidade de eleitores do gênero masculino na seção |
| feminino | Quantidade de eleitores do gênero feminido |
| jovem | Quantidade de eleitores classificados como jovens |
| adulto | Quantidade de eleitores classificados como adultos |
| idoso | Quantidade de eleitores com idade avançada |
| casado | Quantidade de eleitores casados |
| divorciado | Quantidade de eleitores divorciados |
| separado | Quantiodade de eleitores separadaos |
| solteiro | Quantidade de eleitores solteiros |
| viuvo | Quantidade de eleitores viúvos |
| analfabeto | Quantidade de eleitores |
| le_e_escreve | Quantidade de eleitores que sabem ler e escrever, mas não cursaram nem o fundamental |
| ensino_fundamental | Quantidade de eleitores que cursaram ou estão cursando o ensino fundamental |
| ensino_medio | Quantidade de eleitores que cursaram ou estão cursando o endino médio |
| ensino_superior | Quantidade de eleitores que estão cursando ou já cursaram o ensino superior |
| candidato_{nth} | Nome do candidato a prefeito que ficou na n-ésima colocação (1o turno) |
| partido_{nth} | Partido do candidato a prefeito que ficou na n-ésima colocação (1o turno) |
| votos_{nth} | Votos computados para o candidato a que ficou na n-ésima colocação (1o turno) |
| partido_{nth}_ver | Partido/legenda dos vereadores que ficou na n-ésima colocação (1o turno) |
| votos_{nth}_ver | Votos no partido/legenda dos vereadores que ficou na n-ésima colocação (1o turno) |
| candidato_2t_{nth} | Nome do candidato a prefeito que ficou na n-ésima colocação (2o turno) |
| partido_2t_{nth} | Partido do candidato a prefeito que ficou na n-ésima colocação (2o turno) |
| votos_2t_{nth} | Votos computados para o candidato a que ficou na n-ésima colocação (2o turno) |

In [62]:
df_secoes_final = df_escolas.copy()
df_secoes_final.sample(5)

        zona  secao  local  ...                 bairro       lat       long
479994    37    729   1872  ...             PETROPOLIS -1.000000  -1.000000
58429     62    609   1783  ...         SANTA ETELVINA -2.985787 -60.013189
15569     63    538   1899  ...      SAO JOSE OPERARIO -3.072479 -59.948765
210288    32    637   2119  ...          VILA DA PRATA -3.109013 -60.045827
383647     2    534   2011  ...  PARQUE 10 DE NOVEMBRO -3.091332 -60.018089

[5 rows x 7 columns]

### Adicionando quantitativos de eleitores

In [63]:
def create_or_replace_column(df, col, val):
  if col in df.columns:
    del df[col]

  df[col] = val

create_or_replace_column(df_secoes_final, 'aptos', 0)
create_or_replace_column(df_secoes_final, 'votos', 0)
create_or_replace_column(df_secoes_final, 'abstencoes', 0)
create_or_replace_column(df_secoes_final, 'votos_2t', 0)
create_or_replace_column(df_secoes_final, 'abstencoes_2t', 0)
df_secoes_final.columns

Index(['zona', 'secao', 'local', 'nome', 'bairro', 'lat', 'long', 'aptos',
       'votos', 'abstencoes', 'votos_2t', 'abstencoes_2t'],
      dtype='object')

In [64]:
df = df_secoes.groupby(['zona','secao', 'eleicao'])[['aptos','votos','abstencoes']].first().unstack()
df.head()

           aptos      votos      abstencoes
eleicao      426  427   426  427        426 427
zona secao
1    640     411  411   348  330         63  81
     641     393  393   326  308         67  85
     642     397  397   341  332         56  65
     643     480  480   414  398         66  82
     644     328  328   277  265         51  63

In [65]:
def get_total_aptos(row):
  return df.loc[row['zona'], row['secao']].loc['aptos'].loc[426]

def get_total_votos(row):
  return df.loc[row['zona'], row['secao']].loc['votos'].loc[426]

def get_total_abstencoes(row):
  return df.loc[row['zona'], row['secao']].loc['abstencoes'].loc[426]
  
df_secoes_final['aptos'] = df_secoes_final.apply(get_total_aptos, axis=1)
df_secoes_final['votos'] = df_secoes_final.apply(get_total_votos, axis=1)
df_secoes_final['abstencoes'] = df_secoes_final.apply(get_total_abstencoes, axis=1)
df_secoes_final.sample(4)

        zona  secao  local  ... abstencoes votos_2t  abstencoes_2t
10250      2    639   1988  ...         74        0              0
535035    63    609   1791  ...         53        0              0
357692    32    668   2054  ...         62        0              0
17211     59    517   2143  ...         46        0              0

[4 rows x 12 columns]

In [66]:
def get_total_votos_2t(row):
  return df.loc[row['zona'], row['secao']].loc['votos'].loc[427]

def get_total_abstencoes_2t(row):
  return df.loc[row['zona'], row['secao']].loc['abstencoes'].loc[427]
  
df_secoes_final['votos_2t'] = df_secoes_final.apply(get_total_votos_2t, axis=1)
df_secoes_final['abstencoes_2t'] = df_secoes_final.apply(get_total_abstencoes_2t, axis=1)
df_secoes_final.sample(4)

        zona  secao  local  ... abstencoes votos_2t  abstencoes_2t
413605     1    701   2470  ...         62      322             64
380692    65    523   1554  ...         74      311            108
20721     65    547   1660  ...         96      282            118
138612    62    423   1627  ...         77      342            100

[4 rows x 12 columns]

### Adicionando o perfil do eleitorado

#### Gênero

In [67]:
def get_total_masculino(row):
  return df_perfil_genero.loc[row['zona'], row['secao']].loc['eleitores'].loc['MASCULINO']

def get_total_feminino(row):
  return df_perfil_genero.loc[row['zona'], row['secao']].loc['eleitores'].loc['FEMININO']
  
df_secoes_final['masculino'] = df_secoes_final.apply(get_total_masculino, axis=1)
df_secoes_final['feminino'] = df_secoes_final.apply(get_total_feminino, axis=1)
df_secoes_final[['zona', 'secao', 'masculino', 'feminino']].sample(4)

        zona  secao  masculino  feminino
189877     1    853        1.0       1.0
46802      2    609        1.0       1.0
321        1    750        1.0       1.0
327365    62    603        1.0       1.0

#### Faixa etária

In [68]:
def get_total_jovem(row):
  return df_perfil_faixa_etaria.loc[row['zona'], row['secao']].loc['eleitores'].loc['jovem']

def get_total_adulto(row):
  return df_perfil_faixa_etaria.loc[row['zona'], row['secao']].loc['eleitores'].loc['adulto']

def get_total_idoso(row):
  return df_perfil_faixa_etaria.loc[row['zona'], row['secao']].loc['eleitores'].loc['idoso']
  
df_secoes_final['jovem'] = df_secoes_final.apply(get_total_jovem, axis=1)
df_secoes_final['adulto'] = df_secoes_final.apply(get_total_adulto, axis=1)
df_secoes_final['idoso'] = df_secoes_final.apply(get_total_idoso, axis=1)
df_secoes_final[['zona', 'secao', 'jovem', 'adulto', 'idoso']].sample(4)

        zona  secao  jovem  adulto  idoso
21560     63    486    1.0     2.0    4.0
9395      65    402    1.0     3.0    2.0
330233    63    610    1.0     3.0    1.0
425617    31    631    NaN     3.0    1.0

#### Estado Civil

In [69]:
#casado	divorciado	separado	solteiro	viuvo
def get_total_casado(row):
  return df_perfil_estado_civil.loc[row['zona'], row['secao']].loc['eleitores'].loc['casado']

def get_total_divorciado(row):
  return df_perfil_estado_civil.loc[row['zona'], row['secao']].loc['eleitores'].loc['divorciado']

def get_total_separado(row):
  return df_perfil_estado_civil.loc[row['zona'], row['secao']].loc['eleitores'].loc['separado']

def get_total_solteiro(row):
  return df_perfil_estado_civil.loc[row['zona'], row['secao']].loc['eleitores'].loc['solteiro']

def get_total_viuvo(row):
  return df_perfil_estado_civil.loc[row['zona'], row['secao']].loc['eleitores'].loc['viuvo']
  
df_secoes_final['casado'] = df_secoes_final.apply(get_total_casado, axis=1)
df_secoes_final['divorciado'] = df_secoes_final.apply(get_total_divorciado, axis=1)
df_secoes_final['separado'] = df_secoes_final.apply(get_total_separado, axis=1)
df_secoes_final['solteiro'] = df_secoes_final.apply(get_total_solteiro, axis=1)
df_secoes_final['viuvo'] = df_secoes_final.apply(get_total_viuvo, axis=1)

df_secoes_final[['zona', 'secao', 'casado',	'divorciado',	'separado',	'solteiro',	'viuvo']].sample(4)

        zona  secao  casado  divorciado  separado  solteiro  viuvo
122244    58    948     1.0         1.0       NaN       2.0    1.0
44753     32    703     1.0         1.0       1.0       2.0    1.0
425049    58    850     1.0         1.0       1.0       1.0    1.0
51411     32    650     1.0         2.0       1.0       6.0    1.0

#### Escolaridade

In [70]:
#analfabeto	ensino_fundamental	ensino_medio	ensino_superior	le_e_escreve
def get_total(df, row, col):
  return df.loc[row['zona'], row['secao']].loc['eleitores'].loc[col]

def add_column_based_total(df, col, df_total):
  df[col] = df.apply(lambda row: get_total(df_total, row, col), axis=1)

for escolaridade in escolaridades.keys():
  add_column_based_total(df_secoes_final, escolaridade, df_perfil_grau_escolaridade)

df_secoes_final[['zona', 'secao'] +list(escolaridades.keys())].sample(4)

        zona  secao  ...  ensino_medio  ensino_superior
256486     1    732  ...           1.0              4.0
57572     68    535  ...           2.0              2.0
430858    65    618  ...           2.0              1.0
288298    70    751  ...           1.0              5.0

[4 rows x 7 columns]

### Adicionando o resultado da eleição para prefeito

In [71]:
df = df_resultados_prefeito.merge(df_prefeitos, on=['eleicao', 'cargo', 'numero'])
df.head()

   eleicao  zona  secao  ...  votos       partido             candidato
0      426     1    640  ...     19  REPUBLICANOS  CAPITÃO ALBERTO NETO
1      426     1    641  ...      9  REPUBLICANOS  CAPITÃO ALBERTO NETO
2      426     1    642  ...     28  REPUBLICANOS  CAPITÃO ALBERTO NETO
3      426     1    643  ...     24  REPUBLICANOS  CAPITÃO ALBERTO NETO
4      426     1    644  ...     21  REPUBLICANOS  CAPITÃO ALBERTO NETO

[5 rows x 9 columns]

In [72]:
def get_nth_prefeito_mais_votado(df, nth):
  return df[['zona', 'secao', 'votos', 'candidato', 'partido']] \
              .sort_values('votos', ascending=False) \
              .groupby(['zona', 'secao']).nth(nth) \
              .reset_index()

In [73]:
# define o primeiro prefeito mais votado em cada seção (1o turno)
df_pref_1st = get_nth_prefeito_mais_votado(df, 0)
df_pref_1st.columns = ['zona', 'secao', 'votos_1st', 'candidato_1st', 'partido_1st']
df_pref_1st.sample(5)

      zona  secao  votos_1st     candidato_1st partido_1st
2591    63    759         81  AMAZONINO MENDES        PODE
2325    63    487         79     DAVID ALMEIDA      AVANTE
2475    63    641        102  AMAZONINO MENDES        PODE
2118    62    417         80  AMAZONINO MENDES        PODE
3306    70    738         76  AMAZONINO MENDES        PODE

In [74]:
df_secoes_final = df_secoes_final.merge(df_pref_1st, on=['zona', 'secao'])
df_secoes_final.sample(3)

      zona  secao  local  ... votos_1st  candidato_1st  partido_1st
538     31    625   2089  ...        90  DAVID ALMEIDA       AVANTE
1946    59    682   2100  ...       120  DAVID ALMEIDA       AVANTE
2543    63    709   1953  ...        63  DAVID ALMEIDA       AVANTE

[3 rows x 30 columns]

In [75]:
# define o segundo prefeito mais votado em cada seção (1o turno)
df_pref_2nd = get_nth_prefeito_mais_votado(df, 1)
df_pref_2nd.columns = ['zona', 'secao', 'votos_2nd', 'candidato_2nd', 'partido_2nd']
df_pref_2nd.sample(5)

      zona  secao  votos_2nd     candidato_2nd partido_2nd
740     32    699         61  AMAZONINO MENDES        PODE
2359    63    524         70  AMAZONINO MENDES        PODE
307      2    608         49     DAVID ALMEIDA      AVANTE
657     32    615         54  AMAZONINO MENDES        PODE
2476    63    642         58  AMAZONINO MENDES        PODE

In [76]:
df_secoes_final = df_secoes_final.merge(df_pref_2nd, on=['zona', 'secao'])
df_secoes_final.sample(3)

      zona  secao  local  ... votos_2nd     candidato_2nd  partido_2nd
1926    59    661   2321  ...        61  AMAZONINO MENDES         PODE
1444    40    573   1538  ...        51     DAVID ALMEIDA       AVANTE
3280    70    712   1961  ...        67     DAVID ALMEIDA       AVANTE

[3 rows x 33 columns]

In [77]:
# define o terceiro prefeito mais votado em cada seção (1o turno)
df_pref_3rd = get_nth_prefeito_mais_votado(df, 2)
df_pref_3rd.columns = ['zona', 'secao', 'votos_3rd', 'candidato_3rd', 'partido_3rd']
df_pref_3rd.sample(5)

      zona  secao  votos_3rd    candidato_3rd partido_3rd
334      2    636         45  CORONEL MENEZES    PATRIOTA
3006    68    601         43  CORONEL MENEZES    PATRIOTA
2942    68    537         43  RICARDO NICOLAU         PSD
2544    63    710         50       ZE RICARDO          PT
3170    70    602         38  RICARDO NICOLAU         PSD

In [78]:
df_secoes_final = df_secoes_final.merge(df_pref_3rd, on=['zona', 'secao'])
df_secoes_final.sample(3)

      zona  secao  local  ... votos_3rd    candidato_3rd  partido_3rd
803     32    764   1880  ...        46  RICARDO NICOLAU          PSD
1377    40    506   1465  ...        53  CORONEL MENEZES     PATRIOTA
1075    37    615   1740  ...        43       ZE RICARDO           PT

[3 rows x 36 columns]

In [79]:
# define o quarto prefeito mais votado em cada seção (1o turno)
df_pref_4th = get_nth_prefeito_mais_votado(df, 3)
df_pref_4th.columns = ['zona', 'secao', 'votos_4th', 'candidato_4th', 'partido_4th']
df_pref_4th.sample(5)

      zona  secao  votos_4th    candidato_4th partido_4th
686     32    645         47  RICARDO NICOLAU         PSD
2890    65    637         22       ZE RICARDO          PT
1567    58    828         42       ZE RICARDO          PT
1950    59    687         36  RICARDO NICOLAU         PSD
860     32    824         36  RICARDO NICOLAU         PSD

In [80]:
df_secoes_final = df_secoes_final.merge(df_pref_4th, on=['zona', 'secao'])
df_secoes_final.sample(3)

      zona  secao  local  ... votos_4th    candidato_4th  partido_4th
2728    65    460   1678  ...        33  CORONEL MENEZES     PATRIOTA
1140    37    681   1805  ...        37  RICARDO NICOLAU          PSD
3262    70    695   1937  ...        27  CORONEL MENEZES     PATRIOTA

[3 rows x 39 columns]

### Adicionando o resultado da eleição para vereador

In [81]:
df = df_resultados_vereador.merge(df_vereadores, on=['eleicao', 'cargo', 'numero'])
df.head()

   eleicao  zona  secao  local  ... numero  votos       partido        candidato
0      426     1    640   2429  ...  10100      3  REPUBLICANOS  SERGINHO CAMARA
1      426     1    641   2089  ...  10100      3  REPUBLICANOS  SERGINHO CAMARA
2      426     1    642   2321  ...  10100      1  REPUBLICANOS  SERGINHO CAMARA
3      426     1    643   2054  ...  10100      2  REPUBLICANOS  SERGINHO CAMARA
4      426     1    645   2267  ...  10100      3  REPUBLICANOS  SERGINHO CAMARA

[5 rows x 9 columns]

In [82]:
def get_nth_partido_mais_votado_vereador(df, nth):
  return df[['zona','secao','votos','partido']] \
          .groupby(['zona','secao','partido']).sum('votos') \
          .sort_values(['zona','secao','votos'], ascending=[True,True,False]).reset_index() \
          .groupby(['zona', 'secao']).nth(nth).reset_index()

In [83]:
# define o primeiro partido mais votado na eleição para vereador em cada seção (1o turno)
df_part_1st_ver = get_nth_partido_mais_votado_vereador(df, 0)
df_part_1st_ver.columns = ['zona', 'secao', 'partido_1st_ver', 'votos_1st_ver']
df_part_1st_ver.sample(5)

      zona  secao partido_1st_ver  votos_1st_ver
3098    68    766          AVANTE             30
1924    59    659          AVANTE             78
2389    63    555             PSC             51
341      2    643             PSC             31
2371    63    536          AVANTE             39

In [84]:
df_secoes_final = df_secoes_final.merge(df_part_1st_ver, on=['zona', 'secao'])
df_secoes_final.sample(3)

      zona  secao  local  ... partido_4th partido_1st_ver  votos_1st_ver
108      1    756   2380  ...         PSD          AVANTE             49
873     32    838   1996  ...    PATRIOTA             PMN             40
3135    70    568   1848  ...         PSD             PSC             26

[3 rows x 41 columns]

In [85]:
# define o segundo partido mais votado na eleição para vereador em cada seção (1o turno)
df_part_2nd_ver = get_nth_partido_mais_votado_vereador(df, 1)
df_part_2nd_ver.columns = ['zona', 'secao', 'partido_2nd_ver', 'votos_2nd_ver']
df_part_2nd_ver.sample(5)

      zona  secao partido_2nd_ver  votos_2nd_ver
817     32    778             PMN             35
3301    70    733             PSC             20
700     32    659              PV             29
356      2    658        PATRIOTA             20
97       1    745             PSC             20

In [86]:
df_secoes_final = df_secoes_final.merge(df_part_2nd_ver, on=['zona', 'secao'])
df_secoes_final.sample(3)

      zona  secao  local  ... votos_1st_ver partido_2nd_ver  votos_2nd_ver
2281    62    585   1791  ...            31             PSB             20
1815    59    550   2208  ...            51             PSC             32
931     32    907   2100  ...            32             PSC             27

[3 rows x 43 columns]

In [87]:
# define o terceiro partido mais votado na eleição para vereador em cada seção (1o turno)
df_part_3rd_ver = get_nth_partido_mais_votado_vereador(df, 3)
df_part_3rd_ver.columns = ['zona', 'secao', 'partido_3rd_ver', 'votos_3rd_ver']
df_part_3rd_ver.sample(5)

      zona  secao partido_3rd_ver  votos_3rd_ver
1273    40    402             DEM             19
2404    63    570              PL             22
1647    58    920              PL             21
1090    37    630            PODE             17
2355    63    519             PTC             23

In [88]:
df_secoes_final = df_secoes_final.merge(df_part_3rd_ver, on=['zona', 'secao'])
df_secoes_final.sample(3)

      zona  secao  local  ... votos_2nd_ver partido_3rd_ver  votos_3rd_ver
2949    68    545   1651  ...            29        PATRIOTA             21
2483    63    649   1953  ...            38             PMN             19
2076    62    375   1619  ...            21       CIDADANIA             17

[3 rows x 45 columns]

In [89]:
# define o segundo partido mais votado na eleição para vereador em cada seção (1o turno)
df_part_4th_ver = get_nth_partido_mais_votado_vereador(df, 4)
df_part_4th_ver.columns = ['zona', 'secao', 'partido_4th_ver', 'votos_4th_ver']
df_part_4th_ver.sample(5)

      zona  secao partido_4th_ver  votos_4th_ver
268      2    566            PSDB             14
3053    68    648             PTB             21
1442    40    571             PSB             17
2627    65    358             PMN             16
254      2    543             PSC             15

In [90]:
df_secoes_final = df_secoes_final.merge(df_part_4th_ver, on=['zona', 'secao'])
df_secoes_final.sample(3)

      zona  secao  local  ... votos_3rd_ver partido_4th_ver  votos_4th_ver
691     32    650   2224  ...            20              PT             19
2380    63    545   1961  ...            19    REPUBLICANOS             16
2801    65    533   1600  ...            20              DC             18

[3 rows x 47 columns]

### Adicionando o resultado da eleição para prefeito (2o turno)

In [91]:
df = df_resultados_prefeito_2t.merge(df_prefeitos_2t, on=['eleicao', 'cargo', 'numero'])
df.head()

   eleicao  zona  secao  local  ... numero  votos  partido         candidato
0      427     1    640   2429  ...     19    156     PODE  AMAZONINO MENDES
1      427     1    641   2089  ...     19    153     PODE  AMAZONINO MENDES
2      427     1    642   2321  ...     19    138     PODE  AMAZONINO MENDES
3      427     1    643   2054  ...     19    192     PODE  AMAZONINO MENDES
4      427     1    644   2402  ...     19    137     PODE  AMAZONINO MENDES

[5 rows x 9 columns]

In [92]:
# define o primeiro prefeito mais votado em cada seção (2o turno)
df_pref_2t_1st = get_nth_prefeito_mais_votado(df, 0)
df_pref_2t_1st.columns = ['zona', 'secao', 'votos_2t_1st', 'candidato_2t_1st', 'partido_2t_1st']
df_pref_2t_1st.sample(5)

      zona  secao  votos_2t_1st  candidato_2t_1st partido_2t_1st
664     32    623           134  AMAZONINO MENDES           PODE
430      2    741           107  AMAZONINO MENDES           PODE
2916    68    510            35     DAVID ALMEIDA         AVANTE
1091    37    631           153     DAVID ALMEIDA         AVANTE
1857    59    592           152  AMAZONINO MENDES           PODE

In [93]:
df_secoes_final = df_secoes_final.merge(df_pref_2t_1st, on=['zona', 'secao'])
df_secoes_final.sample(3)

      zona  secao  local  ... votos_2t_1st  candidato_2t_1st  partido_2t_1st
987     37    524   2097  ...          121     DAVID ALMEIDA          AVANTE
1685    58    964   1996  ...          153  AMAZONINO MENDES            PODE
1959    59    696   2305  ...          123  AMAZONINO MENDES            PODE

[3 rows x 50 columns]

In [94]:
# define o segundo prefeito mais votado em cada seção (2o turno)
df_pref_2t_2nd = get_nth_prefeito_mais_votado(df, 1)
df_pref_2t_2nd.columns = ['zona', 'secao', 'votos_2t_2nd', 'candidato_2t_2nd', 'partido_2t_2nd']
df_pref_2t_2nd.sample(5)

      zona  secao  votos_2t_2nd  candidato_2t_2nd partido_2t_2nd
2106    62    405           112     DAVID ALMEIDA         AVANTE
2509    63    675           109  AMAZONINO MENDES           PODE
935     32    918           114     DAVID ALMEIDA         AVANTE
500     31    587           129  AMAZONINO MENDES           PODE
932     32    908           126     DAVID ALMEIDA         AVANTE

In [95]:
df_secoes_final = df_secoes_final.merge(df_pref_2t_2nd, on=['zona', 'secao'])
df_secoes_final.sample(3)

      zona  secao  local  ... votos_2t_2nd  candidato_2t_2nd  partido_2t_2nd
285      2    585   2011  ...          150     DAVID ALMEIDA          AVANTE
776     32    735   1945  ...          116     DAVID ALMEIDA          AVANTE
3031    68    627   1805  ...          104  AMAZONINO MENDES            PODE

[3 rows x 53 columns]

### Gravando o arquivo csv final

In [96]:
filename = '/content/datasets/final_secoes.csv'
df_secoes_final.to_csv(filename)
print(f'Dataset final de seções gravado em \'{filename}\'')

Dataset final de seções gravado em '/content/datasets/final_secoes.csv'

## DataSet de Bairros

In [97]:
!pip install unidecode

Requirement already satisfied: unidecode in /usr/local/lib/python3.6/dist-packages (1.1.1)

In [98]:
df = df_resultados_prefeito.merge(df_prefeitos, on=['eleicao', 'cargo', 'numero'])
df.head()

   eleicao  zona  secao  ...  votos       partido             candidato
0      426     1    640  ...     19  REPUBLICANOS  CAPITÃO ALBERTO NETO
1      426     1    641  ...      9  REPUBLICANOS  CAPITÃO ALBERTO NETO
2      426     1    642  ...     28  REPUBLICANOS  CAPITÃO ALBERTO NETO
3      426     1    643  ...     24  REPUBLICANOS  CAPITÃO ALBERTO NETO
4      426     1    644  ...     21  REPUBLICANOS  CAPITÃO ALBERTO NETO

[5 rows x 9 columns]

In [99]:
df = df.merge(df_escolas, on=['zona', 'secao', 'local'])
df.head()

   eleicao  zona  secao  ...        bairro  lat  long
0      426     1    640  ...  CACHOEIRINHA -1.0  -1.0
1      426     1    640  ...  CACHOEIRINHA -1.0  -1.0
2      426     1    640  ...  CACHOEIRINHA -1.0  -1.0
3      426     1    640  ...  CACHOEIRINHA -1.0  -1.0
4      426     1    640  ...  CACHOEIRINHA -1.0  -1.0

[5 rows x 13 columns]

In [100]:
df2 = df_resultados_prefeito_2t.merge(df_prefeitos_2t, on=['eleicao', 'cargo', 'numero'])
df2 = df2.merge(df_escolas, on=['zona', 'secao', 'local'])
df2.head()

   eleicao  zona  secao  ...        bairro       lat       long
0      427     1    640  ...  CACHOEIRINHA -1.000000  -1.000000
1      427     1    640  ...  CACHOEIRINHA -1.000000  -1.000000
2      427     1    641  ...  CACHOEIRINHA -3.119252 -60.006131
3      427     1    641  ...  CACHOEIRINHA -3.119252 -60.006131
4      427     1    642  ...          RAIZ -3.123326 -59.995204

[5 rows x 13 columns]

In [101]:
# perfil do eleitorado
!unzip -u dados-bairros-manaus.zip -d /content/work

Archive:  dados-bairros-manaus.zip
  inflating: /content/work/dados-bairros-manaus.csv

In [102]:
df_bairros = pd.read_csv('/content/work/dados-bairros-manaus.csv', encoding="UTF-8", delimiter=';')
df_bairros.info()
# df_bairros.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   bairro                     63 non-null     object
 1   zona                       63 non-null     object
 2   area_ha                    63 non-null     float64
 3   populacao_2017             63 non-null     int64
 4   densidade_dem_hab_km2      63 non-null     float64
 5   domicilios_particulares    63 non-null     int64
 6   renda_mensal               63 non-null     int64
 7   numero_eleitores_tre_2018  61 non-null     float64
dtypes: float64(3), int64(3), object(2)
memory usage: 4.1+ KB

In [103]:
df_bairros.dtypes

bairro                        object
zona                          object
area_ha                      float64
populacao_2017                 int64
densidade_dem_hab_km2        float64
domicilios_particulares        int64
renda_mensal                   int64
numero_eleitores_tre_2018    float64
dtype: object

In [104]:
from unidecode import unidecode

Limpeza - Colocar os nomes dos bairros e das zonas em letras maiúsculas

In [105]:
df_bairros['bairro'] = df_bairros['bairro'].str.upper()
df_bairros['zona'] = df_bairros['zona'].str.upper()
df_bairros.head(5)

           bairro          zona  ...  renda_mensal  numero_eleitores_tre_2018
0    ADRIANÓPOLIS    CENTRO-SUL  ...          4824                     8709.0
1          ALEIXO    CENTRO-SUL  ...          4930                    16725.0
2        ALVORADA  CENTRO-OESTE  ...          1171                    49752.0
3  ARMANDO MENDES         LESTE  ...           802                    19342.0
4         BETÂNIA           SUL  ...          1028                     8391.0

[5 rows x 8 columns]

In [106]:
df_bairros['densidade_normalizada']  = (df_bairros['densidade_dem_hab_km2'] - df_bairros['densidade_dem_hab_km2'].min() ) / (df_bairros['densidade_dem_hab_km2'].max() - df_bairros['densidade_dem_hab_km2'].min())
df_bairros['renda_mensal_normalizada'] = (df_bairros['renda_mensal'] - df_bairros['renda_mensal'].min() ) / (df_bairros['renda_mensal'].max() - df_bairros['renda_mensal'].min())
df_bairros

                bairro  ... renda_mensal_normalizada
0         ADRIANÓPOLIS  ...                 0.492045
1               ALEIXO  ...                 0.504631
2             ALVORADA  ...                 0.058300
3       ARMANDO MENDES  ...                 0.014486
4              BETÂNIA  ...                 0.041320
..                 ...  ...                      ...
58              TARUMÃ  ...                 0.027784
59          TARUMÃ-AÇU  ...                 0.034077
60         VILA BURITI  ...                 0.207789
61       VILA DA PRATA  ...                 0.043814
62  ZUMBI DOS PALMARES  ...                 0.005343

[63 rows x 10 columns]

Limpeza - retirar os acentos dos nomes dos bairros

In [107]:
df_bairros['bairro'] = df_bairros['bairro'].apply(unidecode)
df_bairros

                bairro  ... renda_mensal_normalizada
0         ADRIANOPOLIS  ...                 0.492045
1               ALEIXO  ...                 0.504631
2             ALVORADA  ...                 0.058300
3       ARMANDO MENDES  ...                 0.014486
4              BETANIA  ...                 0.041320
..                 ...  ...                      ...
58              TARUMA  ...                 0.027784
59          TARUMA-ACU  ...                 0.034077
60         VILA BURITI  ...                 0.207789
61       VILA DA PRATA  ...                 0.043814
62  ZUMBI DOS PALMARES  ...                 0.005343

[63 rows x 10 columns]

In [108]:
df_bairros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   bairro                     63 non-null     object
 1   zona                       63 non-null     object
 2   area_ha                    63 non-null     float64
 3   populacao_2017             63 non-null     int64
 4   densidade_dem_hab_km2      63 non-null     float64
 5   domicilios_particulares    63 non-null     int64
 6   renda_mensal               63 non-null     int64
 7   numero_eleitores_tre_2018  61 non-null     float64
 8   densidade_normalizada      63 non-null     float64
 9   renda_mensal_normalizada   63 non-null     float64
dtypes: float64(5), int64(3), object(2)
memory usage: 5.0+ KB

In [109]:
def get_nth_prefeito_mais_votado_bairro(df, nth):
  return df[['bairro',  'votos', 'candidato', 'partido']] \
              .groupby(['bairro', 'candidato', 'partido']).sum('votos') \
              .sort_values(['bairro','votos'], ascending=[True,False]).reset_index() \
              .groupby(['bairro']).nth(nth).reset_index()

In [110]:
# define o primeiro prefeito mais votado em cada bairro (1o turno)
df_pref_1st_bairro = get_nth_prefeito_mais_votado_bairro(df, 0)
df_pref_1st_bairro.columns = ['bairro', 'candidato_1st', 'partido_1st','votos_1st']
df_pref_1st_bairro.sort_values('bairro', ascending=True)
df_pref_1st_bairro.head(15)

                      bairro     candidato_1st partido_1st  votos_1st
0               ADRIANOPOLIS  AMAZONINO MENDES        PODE       1513
1                     ALEIXO  AMAZONINO MENDES        PODE       2723
2                   ALVORADA  AMAZONINO MENDES        PODE       8482
3                ALVORADA II     DAVID ALMEIDA      AVANTE        383
4             ARMANDO MENDES  AMAZONINO MENDES        PODE       4069
5                    BETANIA     DAVID ALMEIDA      AVANTE       2326
6               CACHOEIRINHA  AMAZONINO MENDES        PODE       2653
7                     CENTRO  AMAZONINO MENDES        PODE       5563
8                    CHAPADA  AMAZONINO MENDES        PODE        858
9             CIDADE DE DEUS  AMAZONINO MENDES        PODE       5676
10               CIDADE NOVA  AMAZONINO MENDES        PODE      18256
11    COLONIA ANTONIO ALEIXO     DAVID ALMEIDA      AVANTE       3041
12  COLONIA OLIVEIRA MACHADO  AMAZONINO MENDES        PODE        958
13     COLONIA SANTO ANTONIO  AMAZONINO MENDES        PODE        641
14        COLONIA TERRA NOVA  AMAZONINO MENDES        PODE       4555

In [111]:
# define o segundo prefeito mais votado em cada bairro (1o turno)
df_pref_2st_bairro = get_nth_prefeito_mais_votado_bairro(df, 1)
df_pref_2st_bairro.columns = ['bairro', 'candidato_2st', 'partido_2st', 'votos_2st']
df_pref_2st_bairro.sort_values('bairro', ascending=True)
df_pref_2st_bairro.head(15)

                      bairro     candidato_2st partido_2st  votos_2st
0               ADRIANOPOLIS     DAVID ALMEIDA      AVANTE        993
1                     ALEIXO     DAVID ALMEIDA      AVANTE       2294
2                   ALVORADA     DAVID ALMEIDA      AVANTE       8261
3                ALVORADA II  AMAZONINO MENDES        PODE        309
4             ARMANDO MENDES     DAVID ALMEIDA      AVANTE       3186
5                    BETANIA  AMAZONINO MENDES        PODE       1192
6               CACHOEIRINHA     DAVID ALMEIDA      AVANTE       2396
7                     CENTRO     DAVID ALMEIDA      AVANTE       3886
8                    CHAPADA     DAVID ALMEIDA      AVANTE        597
9             CIDADE DE DEUS     DAVID ALMEIDA      AVANTE       5184
10               CIDADE NOVA     DAVID ALMEIDA      AVANTE      16613
11    COLONIA ANTONIO ALEIXO  AMAZONINO MENDES        PODE       1880
12  COLONIA OLIVEIRA MACHADO     DAVID ALMEIDA      AVANTE        916
13     COLONIA SANTO ANTONIO     DAVID ALMEIDA      AVANTE        569
14        COLONIA TERRA NOVA     DAVID ALMEIDA      AVANTE       3808

In [112]:
# define o terceiro prefeito mais votado em cada bairro (1o turno)
df_pref_3st_bairro = get_nth_prefeito_mais_votado_bairro(df, 2)
df_pref_3st_bairro.columns = ['bairro', 'candidato_3st', 'partido_3st', 'votos_3st']
df_pref_3st_bairro.sort_values('bairro', ascending=True)
df_pref_3st_bairro.head(15)

                      bairro    candidato_3st partido_3st  votos_3st
0               ADRIANOPOLIS  CORONEL MENEZES    PATRIOTA        900
1                     ALEIXO  RICARDO NICOLAU         PSD       1752
2                   ALVORADA  CORONEL MENEZES    PATRIOTA       4971
3                ALVORADA II  CORONEL MENEZES    PATRIOTA        207
4             ARMANDO MENDES  RICARDO NICOLAU         PSD       1962
5                    BETANIA       ZE RICARDO          PT        813
6               CACHOEIRINHA       ZE RICARDO          PT       1486
7                     CENTRO  RICARDO NICOLAU         PSD       3344
8                    CHAPADA       ZE RICARDO          PT        463
9             CIDADE DE DEUS       ZE RICARDO          PT       3724
10               CIDADE NOVA       ZE RICARDO          PT      12039
11    COLONIA ANTONIO ALEIXO       ZE RICARDO          PT       1266
12  COLONIA OLIVEIRA MACHADO  RICARDO NICOLAU         PSD        487
13     COLONIA SANTO ANTONIO       ZE RICARDO          PT        412
14        COLONIA TERRA NOVA       ZE RICARDO          PT       3197

In [113]:
# define o segundo prefeito mais votado em cada bairro (1o turno)
df_pref_4st_bairro = get_nth_prefeito_mais_votado_bairro(df, 3)
df_pref_4st_bairro.columns = ['bairro', 'candidato_4st', 'partido_4st', 'votos_4st']
df_pref_4st_bairro.sort_values('bairro', ascending=True)
df_pref_4st_bairro.head(15)

                      bairro    candidato_4st partido_4st  votos_4st
0               ADRIANOPOLIS  RICARDO NICOLAU         PSD        840
1                     ALEIXO       ZE RICARDO          PT       1681
2                   ALVORADA       ZE RICARDO          PT       4650
3                ALVORADA II  RICARDO NICOLAU         PSD        155
4             ARMANDO MENDES       ZE RICARDO          PT       1666
5                    BETANIA  CORONEL MENEZES    PATRIOTA        740
6               CACHOEIRINHA  RICARDO NICOLAU         PSD       1342
7                     CENTRO       ZE RICARDO          PT       3120
8                    CHAPADA  RICARDO NICOLAU         PSD        462
9             CIDADE DE DEUS  RICARDO NICOLAU         PSD       2499
10               CIDADE NOVA  RICARDO NICOLAU         PSD       9755
11    COLONIA ANTONIO ALEIXO  RICARDO NICOLAU         PSD        891
12  COLONIA OLIVEIRA MACHADO       ZE RICARDO          PT        484
13     COLONIA SANTO ANTONIO  RICARDO NICOLAU         PSD        301
14        COLONIA TERRA NOVA  RICARDO NICOLAU         PSD       2318

In [114]:
# define o primeiro prefeito mais votado em cada bairro (2o turno)
df_pref_1st_bairro_2t = get_nth_prefeito_mais_votado_bairro(df2, 0)
df_pref_1st_bairro_2t.columns = ['bairro', 'candidato_1st_2t', 'partido_1st_2t','votos_1st_2t']
df_pref_1st_bairro_2t.sort_values('bairro', ascending=True)
df_pref_1st_bairro_2t.head(15)

                      bairro  candidato_1st_2t partido_1st_2t  votos_1st_2t
0               ADRIANOPOLIS  AMAZONINO MENDES           PODE          3424
1                     ALEIXO  AMAZONINO MENDES           PODE          6012
2                   ALVORADA     DAVID ALMEIDA         AVANTE         17150
3                ALVORADA II     DAVID ALMEIDA         AVANTE           694
4             ARMANDO MENDES     DAVID ALMEIDA         AVANTE          6992
5                    BETANIA     DAVID ALMEIDA         AVANTE          3922
6               CACHOEIRINHA  AMAZONINO MENDES           PODE          5077
7                     CENTRO  AMAZONINO MENDES           PODE         11076
8                    CHAPADA  AMAZONINO MENDES           PODE          1749
9             CIDADE DE DEUS     DAVID ALMEIDA         AVANTE         12312
10               CIDADE NOVA     DAVID ALMEIDA         AVANTE         38083
11    COLONIA ANTONIO ALEIXO     DAVID ALMEIDA         AVANTE          4638
12  COLONIA OLIVEIRA MACHADO  AMAZONINO MENDES           PODE          1858
13     COLONIA SANTO ANTONIO     DAVID ALMEIDA         AVANTE          1273
14        COLONIA TERRA NOVA     DAVID ALMEIDA         AVANTE          9503

In [115]:
# define o primeiro prefeito mais votado em cada bairro (2o turno)
df_pref_2st_bairro_2t = get_nth_prefeito_mais_votado_bairro(df2, 1)
df_pref_2st_bairro_2t.columns = ['bairro', 'candidato_2st_2t', 'partido_2st_2t','votos_2st_2t']
df_pref_2st_bairro_2t.sort_values('bairro', ascending=True)
df_pref_2st_bairro_2t.head(15)

                      bairro  candidato_2st_2t partido_2st_2t  votos_2st_2t
0               ADRIANOPOLIS     DAVID ALMEIDA         AVANTE          2266
1                     ALEIXO     DAVID ALMEIDA         AVANTE          5138
2                   ALVORADA  AMAZONINO MENDES           PODE         16413
3                ALVORADA II  AMAZONINO MENDES           PODE           583
4             ARMANDO MENDES  AMAZONINO MENDES           PODE          6986
5                    BETANIA  AMAZONINO MENDES           PODE          2314
6               CACHOEIRINHA     DAVID ALMEIDA         AVANTE          4731
7                     CENTRO     DAVID ALMEIDA         AVANTE          8756
8                    CHAPADA     DAVID ALMEIDA         AVANTE          1332
9             CIDADE DE DEUS  AMAZONINO MENDES           PODE         10132
10               CIDADE NOVA  AMAZONINO MENDES           PODE         34945
11    COLONIA ANTONIO ALEIXO  AMAZONINO MENDES           PODE          3608
12  COLONIA OLIVEIRA MACHADO     DAVID ALMEIDA         AVANTE          1827
13     COLONIA SANTO ANTONIO  AMAZONINO MENDES           PODE          1165
14        COLONIA TERRA NOVA  AMAZONINO MENDES           PODE          8228

In [116]:
df_bairros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   bairro                     63 non-null     object
 1   zona                       63 non-null     object
 2   area_ha                    63 non-null     float64
 3   populacao_2017             63 non-null     int64
 4   densidade_dem_hab_km2      63 non-null     float64
 5   domicilios_particulares    63 non-null     int64
 6   renda_mensal               63 non-null     int64
 7   numero_eleitores_tre_2018  61 non-null     float64
 8   densidade_normalizada      63 non-null     float64
 9   renda_mensal_normalizada   63 non-null     float64
dtypes: float64(5), int64(3), object(2)
memory usage: 5.0+ KB

In [117]:
df_bairros.bairro.unique()

array(['ADRIANOPOLIS', 'ALEIXO', 'ALVORADA', 'ARMANDO MENDES', 'BETANIA',
       'CACHOEIRINHA', 'CENTRO', 'CHAPADA', 'CIDADE DE DEUS',
       'CIDADE NOVA', 'COLONIA ANTONIO ALEIXO',
       'COLONIA OLIVEIRA MACHADO', 'COLONIA SANTO ANTONIO',
       'COLONIA TERRA NOVA', 'COMPENSA', 'COROADO', 'CRESPO', 'DA PAZ',
       'DISTRITO INDUSTRIAL I', 'DISTRITO INDUSTRIAL II', 'DOM PEDRO',
       'EDUCANDOS', 'FLORES', 'GILBERTO MESTRINHO', 'GLORIA', 'JAPIIM',
       'JORGE TEIXEIRA', 'LAGO AZUL', 'LIRIO DO VALE', 'MAUAZINHO',
       'MONTE DAS OLIVEIRAS', 'MORRO DA LIBERDADE',
       'NOSSA SENHORA APARECIDA', 'NOSSA SENHORA DAS GRACAS',
       'NOVA CIDADE', 'NOVA ESPERANCA', 'NOVO ALEIXO', 'NOVO ISRAEL',
       'PARQUE 10 DE NOVEMBRO', 'PETROPOLIS', 'PLANALTO', 'PONTA NEGRA',
       'PRACA 14 DE JANEIRO', 'PRESIDENTE VARGAS', 'PURAQUEQUARA', 'RAIZ',
       'REDENCAO', 'SANTA ETELVINA', 'SANTA LUZIA', 'SANTO AGOSTINHO',
       'SANTO ANTONIO', 'SAO FRANCISCO', 'SAO GERALDO', 'SAO JORGE',
       'SAO JOSE OPERARIO', 'SAO LAZARO', 'SAO RAIMUNDO',
       'TANCREDO NEVES', 'TARUMA', 'TARUMA-ACU', 'VILA BURITI',
       'VILA DA PRATA', 'ZUMBI DOS PALMARES'], dtype=object)

In [118]:
df_pref_1st_bairro.bairro.unique()

array(['ADRIANOPOLIS', 'ALEIXO', 'ALVORADA', 'ALVORADA II',
       'ARMANDO MENDES', 'BETANIA', 'CACHOEIRINHA', 'CENTRO', 'CHAPADA',
       'CIDADE DE DEUS', 'CIDADE NOVA', 'COLONIA ANTONIO ALEIXO',
       'COLONIA OLIVEIRA MACHADO', 'COLONIA SANTO ANTONIO',
       'COLONIA TERRA NOVA', 'COMPENSA', 'COROADO', 'CRESPO', 'DOM PEDRO',
       'EDUCANDOS', 'FLORES', 'GILBERTO MESTRINHO', 'GLORIA', 'JAPIIM',
       'JORGE TEIXEIRA', 'LAGO AZUL', 'LIRIO DO VALE', 'MAUAZINHO',
       'MONTE DAS OLIVEIRAS', 'MORRO DA LIBERDADE',
       'NOSSA SENHORA APARECIDA', 'NOSSA SENHORA DAS GRAÇAS',
       'NOVA CIDADE', 'NOVA ESPERANCA', 'NOVO ALEIXO', 'NOVO ISRAEL',
       'PARQUE 10 DE NOVEMBRO', 'PAZ', 'PETROPOLIS', 'PLANALTO',
       'PRACA 14 DE JANEIRO', 'PRESIDENTE VARGAS', 'PURAQUEQUARA', 'RAIZ',
       'REDENCAO', 'SANTA ETELVINA', 'SANTA LUZIA', 'SANTO AGOSTINHO',
       'SANTO ANTONIO', 'SAO FRANCISCO', 'SAO GERALDO', 'SAO JORGE',
       'SAO JOSE OPERARIO', 'SAO LAZARO', 'SAO RAIMUNDO',
       'TANCREDO NEVES', 'TARUMA', 'TARUMÃ AÇU', 'VILA BURITI',
       'VILA DA PRATA', 'ZONA RURAL', 'ZUMBI DOS PALMARES'], dtype=object)

In [119]:
df_pref_1st_bairro['bairro'] = df_pref_1st_bairro['bairro'].apply(unidecode)
df_pref_2st_bairro['bairro'] = df_pref_2st_bairro['bairro'].apply(unidecode)
df_pref_3st_bairro['bairro'] = df_pref_3st_bairro['bairro'].apply(unidecode)
df_pref_4st_bairro['bairro'] = df_pref_4st_bairro['bairro'].apply(unidecode)

df_pref_1st_bairro_2t['bairro'] = df_pref_1st_bairro_2t['bairro'].apply(unidecode)
df_pref_2st_bairro_2t['bairro'] = df_pref_2st_bairro_2t['bairro'].apply(unidecode)

In [120]:
df_bairros = df_bairros.merge(df_pref_1st_bairro, on=['bairro'])
df_bairros = df_bairros.merge(df_pref_2st_bairro, on=['bairro'])
df_bairros = df_bairros.merge(df_pref_3st_bairro, on=['bairro'])
df_bairros = df_bairros.merge(df_pref_4st_bairro, on=['bairro'])

df_bairros = df_bairros.merge(df_pref_1st_bairro_2t, on=['bairro'])
df_bairros = df_bairros.merge(df_pref_2st_bairro_2t, on=['bairro'])

In [121]:
df_bairros.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58 entries, 0 to 57
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   bairro                     58 non-null     object
 1   zona                       58 non-null     object
 2   area_ha                    58 non-null     float64
 3   populacao_2017             58 non-null     int64
 4   densidade_dem_hab_km2      58 non-null     float64
 5   domicilios_particulares    58 non-null     int64
 6   renda_mensal               58 non-null     int64
 7   numero_eleitores_tre_2018  58 non-null     float64
 8   densidade_normalizada      58 non-null     float64
 9   renda_mensal_normalizada   58 non-null     float64
 10  candidato_1st              58 non-null     object
 11  partido_1st                58 non-null     object
 12  votos_1st                  58 non-null     int64
 13  candidato_2st              58 non-null     object
 14  partido_2st                58 non-null     object
 15  votos_2st                  58 non-null     int64
 16  candidato_3st              58 non-null     object
 17  partido_3st                58 non-null     object
 18  votos_3st                  58 non-null     int64
 19  candidato_4st              58 non-null     object
 20  partido_4st                58 non-null     object
 21  votos_4st                  58 non-null     int64
 22  candidato_1st_2t           58 non-null     object
 23  partido_1st_2t             58 non-null     object
 24  votos_1st_2t               58 non-null     int64
 25  candidato_2st_2t           58 non-null     object
 26  partido_2st_2t             58 non-null     object
 27  votos_2st_2t               58 non-null     int64
dtypes: float64(5), int64(9), object(14)
memory usage: 13.1+ KB

In [122]:

df_bairros.head(10)

           bairro          zona  ...  partido_2st_2t  votos_2st_2t
0    ADRIANOPOLIS    CENTRO-SUL  ...          AVANTE          2266
1          ALEIXO    CENTRO-SUL  ...          AVANTE          5138
2        ALVORADA  CENTRO-OESTE  ...            PODE         16413
3  ARMANDO MENDES         LESTE  ...            PODE          6986
4         BETANIA           SUL  ...            PODE          2314
5    CACHOEIRINHA           SUL  ...          AVANTE          4731
6          CENTRO           SUL  ...          AVANTE          8756
7         CHAPADA    CENTRO-SUL  ...          AVANTE          1332
8  CIDADE DE DEUS         NORTE  ...            PODE         10132
9     CIDADE NOVA         NORTE  ...            PODE         34945

[10 rows x 28 columns]

In [123]:
filename = '/content/datasets/final_bairros.csv'
df_bairros.to_csv(filename)
print(f'Dataset final de bairros gravado em \'{filename}\'')

Dataset final de bairros gravado em '/content/datasets/final_bairros.csv'

In [124]:
# Limpeza do diretório temporário de trabalho
!rm -rf /content/work/*

# Carga

In [125]:
%cd /content
!tar -czvf eleicoes2020.tar.gz datasets/*

/content
datasets/eleicoes.csv
datasets/escolas.csv
datasets/final_bairros.csv
datasets/final_secoes.csv
datasets/leiame-boletim_urna.pdf
datasets/prefeitos_2t.csv
datasets/prefeitos.csv
datasets/resultados_prefeito_2t.csv
datasets/resultados_prefeito.csv
datasets/resultados_vereador.csv
datasets/secoes.csv
datasets/vereadores.csv

In [126]:
# sobrescreve o arquivo compartilhado: 1-1v_7xBem5VdYwFFaaNl2EKPLYaDadPa
!cp eleicoes2020.tar.gz /content/gdrive/MyDrive/uea-data-science/04-data-processing/trabalho-final

In [127]:
# remove o diretório
!rm -rf datasets

In [128]:
!tar -zxvf eleicoes2020.tar.gz

datasets/eleicoes.csv
datasets/escolas.csv
datasets/final_bairros.csv
datasets/final_secoes.csv
datasets/leiame-boletim_urna.pdf
datasets/prefeitos_2t.csv
datasets/prefeitos.csv
datasets/resultados_prefeito_2t.csv
datasets/resultados_prefeito.csv
datasets/resultados_vereador.csv
datasets/secoes.csv
datasets/vereadores.csv