In [1]:
!pwd

/content

In [2]:
# Importando libs necessárias
import pandas as pd

# Extração

In [3]:
# Montar o diretório compartilhado do Google Drive
from google.colab import drive
drive.mount('/content/gdrive')
%cd /content/gdrive

Mounted at /content/gdrive
/content/gdrive

In [4]:
# Listar arquivos do diretório compartilhado
%cd MyDrive/uea-data-science/04-data-processing/trabalho-final/datasets
!ls

/content/gdrive/MyDrive/uea-data-science/04-data-processing/trabalho-final/datasets
bweb_1t_AM_181120201549.zip
bweb_2t_AM_301120201245.zip
detalhe_votacao_secao_2020.zip
eleitorado_local_votacao_2020.zip
perfil_comparecimento_abstencao_2020.zip
perfil_eleitorado_2020.zip
perfil_eleitor_secao_2020_AM.zip
prestacao_contas_anual_partidaria_2020.zip
prestacao_de_contas_eleitorais_candidatos_2020.zip
votacao_candidato_munzona_2020.zip
votacao_secao_2020_AM.zip

# Transformação

In [5]:
!mkdir /content/work #diretório temporário de trabalho
!mkdir /content/datasets #diretório com os arquivos processados

## Dados de Boletins de Urna

In [6]:
# boletins de urna do 1o turno
!unzip -u bweb_1t_AM_181120201549.zip -d /content/work

Archive:  bweb_1t_AM_181120201549.zip
  inflating: /content/work/bweb_1t_AM_181120201549.csv
  inflating: /content/work/leiame-boletimurnaweb.pdf

In [116]:
!cp /content/work/leiame-boletimurnaweb.pdf /content/datasets/leiame-boletim_urna.pdf

In [141]:
df_bu_1t = pd.read_csv('/content/work/bweb_1t_AM_181120201549.csv', encoding="ISO-8859-1", delimiter=';')
df_bu_1t.sample(5)

        DT_GERACAO HH_GERACAO  ...  NR_JUNTA_APURADORA  NR_TURMA_APURADORA
698815  18/11/2020   15:49:53  ...                  -1                  -1
362276  18/11/2020   15:49:53  ...                  -1                  -1
85815   18/11/2020   15:49:53  ...                  -1                  -1
589729  18/11/2020   15:49:53  ...                  -1                  -1
123405  18/11/2020   15:49:53  ...                  -1                  -1

[5 rows x 45 columns]

In [142]:
df_bu_1t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 848941 entries, 0 to 848940
Data columns (total 45 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   DT_GERACAO                   848941 non-null  object
 1   HH_GERACAO                   848941 non-null  object
 2   ANO_ELEICAO                  848941 non-null  int64
 3   CD_TIPO_ELEICAO              848941 non-null  int64
 4   NM_TIPO_ELEICAO              848941 non-null  object
 5   CD_PLEITO                    848941 non-null  int64
 6   DT_PLEITO                    848941 non-null  object
 7   NR_TURNO                     848941 non-null  int64
 8   CD_ELEICAO                   848941 non-null  int64
 9   DS_ELEICAO                   848941 non-null  object
 10  SG_UF                        848941 non-null  object
 11  CD_MUNICIPIO                 848941 non-null  int64
 12  NM_MUNICIPIO                 848941 non-null  object
 13  NR_ZONA                      848941 non-null  int64
 14  NR_SECAO                     848941 non-null  int64
 15  NR_LOCAL_VOTACAO             848941 non-null  int64
 16  CD_CARGO_PERGUNTA            848941 non-null  int64
 17  DS_CARGO_PERGUNTA            848941 non-null  object
 18  NR_PARTIDO                   848941 non-null  int64
 19  SG_PARTIDO                   848941 non-null  object
 20  NM_PARTIDO                   848941 non-null  object
 21  DT_BU_RECEBIDO               848941 non-null  object
 22  QT_APTOS                     848941 non-null  int64
 23  QT_COMPARECIMENTO            848941 non-null  int64
 24  QT_ABSTENCOES                848941 non-null  int64
 25  CD_TIPO_URNA                 848941 non-null  int64
 26  DS_TIPO_URNA                 848941 non-null  object
 27  CD_TIPO_VOTAVEL              848941 non-null  int64
 28  DS_TIPO_VOTAVEL              848941 non-null  object
 29  NR_VOTAVEL                   848941 non-null  int64
 30  NM_VOTAVEL                   848941 non-null  object
 31  QT_VOTOS                     848941 non-null  int64
 32  NR_URNA_EFETIVADA            848941 non-null  int64
 33  CD_CARGA_1_URNA_EFETIVADA    848941 non-null  object
 34  CD_CARGA_2_URNA_EFETIVADA    848941 non-null  float64
 35  CD_FLASHCARD_URNA_EFETIVADA  848941 non-null  object
 36  DT_CARGA_URNA_EFETIVADA      848941 non-null  object
 37  DS_CARGO_PERGUNTA_SECAO      848941 non-null  object
 38  DS_AGREGADAS                 848941 non-null  object
 39  DT_ABERTURA                  848828 non-null  object
 40  DT_ENCERRAMENTO              848828 non-null  object
 41  QT_ELEITORES_BIOMETRIA_NH    848941 non-null  int64
 42  DT_EMISSAO_BU                848941 non-null  object
 43  NR_JUNTA_APURADORA           848941 non-null  int64
 44  NR_TURMA_APURADORA           848941 non-null  int64
dtypes: float64(1), int64(22), object(22)
memory usage: 291.5+ MB

In [46]:
df_bus_1t.DS_CARGO_PERGUNTA.unique()

array(['Prefeito', 'Vereador'], dtype=object)

In [47]:
df_bu_1t.SG_PARTIDO.value_counts()

PSC              62642
AVANTE           60226
REPUBLICANOS     53694
PL               40921
PATRIOTA         40139
PP               36335
PT               34365
PSDB             33885
PODE             33417
PSL              33355
PTB              32379
MDB              31878
PMN              30224
PSB              29228
PSD              27816
DC               26548
CIDADANIA        26338
PROS             26234
PV               25449
#NULO#           24702
DEM              24324
PRTB             21962
PTC              21249
SOLIDARIEDADE    17075
PC do B          16626
PDT              12287
PMB               9386
NOVO              7568
PSOL              4880
REDE              2877
PSTU               932
Name: SG_PARTIDO, dtype: int64

In [48]:
df_bu_1t.NM_MUNICIPIO.value_counts()

MANAUS         590874
MANACAPURU      20977
ITACOATIARA     20787
PARINTINS       18377
TEFÉ            12425
                ...
AMATURÁ          1116
ANAMÃ            1092
CANUTAMA         1033
ITAMARATI         800
JAPURÁ            583
Name: NM_MUNICIPIO, Length: 62, dtype: int64

In [49]:
df_bu_1t.DS_TIPO_VOTAVEL.unique()

array(['Nominal', 'Nulo', 'Branco', 'Legenda'], dtype=object)

In [50]:
df_bu_1t.DS_TIPO_URNA.unique()

array(['APURADA'], dtype=object)

In [51]:
df_bu_1t.DS_AGREGADAS.value_counts()

#NULO#     805387
80            585
73            551
50            467
61            423
            ...
90             24
65             19
17 / 26        19
32             17
111            14
Name: DS_AGREGADAS, Length: 294, dtype: int64

In [143]:
df_bu_1t = df_bu_1t[df_bu_1t.NM_MUNICIPIO.eq('MANAUS')] \
                  .drop(columns=['DT_GERACAO',	'HH_GERACAO',	'CD_TIPO_ELEICAO', 'DT_BU_RECEBIDO',	'CD_TIPO_URNA', 'DS_TIPO_URNA',	
                                    'CD_TIPO_VOTAVEL',	'NR_URNA_EFETIVADA',	'CD_CARGA_1_URNA_EFETIVADA',	'CD_CARGA_2_URNA_EFETIVADA',	
                                    'CD_FLASHCARD_URNA_EFETIVADA',	'DT_CARGA_URNA_EFETIVADA',	'DS_CARGO_PERGUNTA_SECAO',	'DS_AGREGADAS',
                                    'DT_ABERTURA',	'DT_ENCERRAMENTO',	'QT_ELEITORES_BIOMETRIA_NH',	'NR_JUNTA_APURADORA',	'NR_TURMA_APURADORA'])
df_bu_1t.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 590874 entries, 0 to 848940
Data columns (total 26 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ANO_ELEICAO        590874 non-null  int64
 1   NM_TIPO_ELEICAO    590874 non-null  object
 2   CD_PLEITO          590874 non-null  int64
 3   DT_PLEITO          590874 non-null  object
 4   NR_TURNO           590874 non-null  int64
 5   CD_ELEICAO         590874 non-null  int64
 6   DS_ELEICAO         590874 non-null  object
 7   SG_UF              590874 non-null  object
 8   CD_MUNICIPIO       590874 non-null  int64
 9   NM_MUNICIPIO       590874 non-null  object
 10  NR_ZONA            590874 non-null  int64
 11  NR_SECAO           590874 non-null  int64
 12  NR_LOCAL_VOTACAO   590874 non-null  int64
 13  CD_CARGO_PERGUNTA  590874 non-null  int64
 14  DS_CARGO_PERGUNTA  590874 non-null  object
 15  NR_PARTIDO         590874 non-null  int64
 16  SG_PARTIDO         590874 non-null  object
 17  NM_PARTIDO         590874 non-null  object
 18  QT_APTOS           590874 non-null  int64
 19  QT_COMPARECIMENTO  590874 non-null  int64
 20  QT_ABSTENCOES      590874 non-null  int64
 21  DS_TIPO_VOTAVEL    590874 non-null  object
 22  NR_VOTAVEL         590874 non-null  int64
 23  NM_VOTAVEL         590874 non-null  object
 24  QT_VOTOS           590874 non-null  int64
 25  DT_EMISSAO_BU      590874 non-null  object
dtypes: int64(15), object(11)
memory usage: 121.7+ MB

### Eleições

In [ ]:
df1 = df_bu_1t[['ANO_ELEICAO',	'NM_TIPO_ELEICAO',	'CD_PLEITO',	'DT_PLEITO', 'NR_TURNO',	'CD_ELEICAO',	'DS_ELEICAO']] \
               .drop_duplicates()
df2 = df_bu_2t[['ANO_ELEICAO',	'NM_TIPO_ELEICAO',	'CD_PLEITO',	'DT_PLEITO', 'NR_TURNO',	'CD_ELEICAO',	'DS_ELEICAO']] \
               .drop_duplicates()
df_eleicao = df1.append(df2)
df_eleicao.columns = ['ano', 'tipo', 'pleito', 'data', 'turno', 'eleicao', 'descricao']
df_eleicao

    ano               tipo  pleito  ... turno  eleicao                 descricao
0  2020  Eleição Ordinária     304  ...     1      426  Eleições Municipais 2020
0  2020  Eleição Ordinária     305  ...     2      427  Eleições Municipais 2020

[2 rows x 7 columns]

In [ ]:
df_eleicao.to_csv('/content/datasets/eleicoes.csv')

### Candidatos a Prefeito

In [127]:
df_prefeitos = df_bu_1t[df_bu_1t.DS_CARGO_PERGUNTA.eq('Prefeito') & df_bu_1t.DS_TIPO_VOTAVEL.eq('Nominal')] \
                      [['CD_ELEICAO','DS_CARGO_PERGUNTA','NR_VOTAVEL','SG_PARTIDO','NM_VOTAVEL']] \
                         .drop_duplicates() \
                         .sort_values(['NR_VOTAVEL'])
df_prefeitos.columns = ['eleicao',	'cargo',	'numero', 'partido', 'candidato']
df_prefeitos

     eleicao     cargo  numero       partido             candidato
6        426  Prefeito      10  REPUBLICANOS  CAPITÃO ALBERTO NETO
9        426  Prefeito      13            PT            ZE RICARDO
209      426  Prefeito      16          PSTU  GILBERTO VASCONCELOS
7        426  Prefeito      19          PODE      AMAZONINO MENDES
5        426  Prefeito      22            PL    ALFREDO NASCIMENTO
0        426  Prefeito      27            DC           CHICO PRETO
10       426  Prefeito      30          NOVO           ROMERO REIS
8        426  Prefeito      51      PATRIOTA       CORONEL MENEZES
4        426  Prefeito      55           PSD       RICARDO NICOLAU
217      426  Prefeito      65       PC do B          MARCELO AMIL
3        426  Prefeito      70        AVANTE         DAVID ALMEIDA

In [128]:
df_prefeitos.to_csv('/content/datasets/prefeitos.csv')

### Resultados para Prefeito

In [117]:
df_resultados_prefeito = df_bu_1t[df_bu_1t.DS_CARGO_PERGUNTA.eq('Prefeito')] \
    [['CD_ELEICAO',	'NR_ZONA'	,'NR_SECAO', 'NR_LOCAL_VOTACAO', 'DS_CARGO_PERGUNTA'	,'NR_VOTAVEL',	'QT_VOTOS']] \
    .sort_values(['NR_ZONA','NR_SECAO','NR_VOTAVEL'])
df_resultados_prefeito.columns = ['eleicao',	'zona',	'secao', 'local',	'cargo',	'numero',	'votos']    
df_resultados_prefeito

        eleicao  zona  secao  local     cargo  numero  votos
6           426     1    640   2429  Prefeito      10     19
9           426     1    640   2429  Prefeito      13     49
7           426     1    640   2429  Prefeito      19     90
5           426     1    640   2429  Prefeito      22      7
0           426     1    640   2429  Prefeito      27      7
...         ...   ...    ...    ...       ...     ...    ...
848806      426    70    808   1848  Prefeito      51     13
848799      426    70    808   1848  Prefeito      55     19
848804      426    70    808   1848  Prefeito      70     46
848796      426    70    808   1848  Prefeito      95      9
848795      426    70    808   1848  Prefeito      96     22

[39330 rows x 7 columns]

In [118]:
filename = '/content/datasets/resultados_prefeito.csv'
df_resultados_prefeito.to_csv(filename)
print(f'Resultado da votação para prefeito no 1o turno gravada em \'{filename}\'')

Resultado da votação para prefeito no 1o turno gravada em '/content/datasets/resultados_prefeito.csv'

### Candidatos a Vereador

In [125]:
df_vereadores = df_bu_1t[df_bu_1t.DS_CARGO_PERGUNTA.eq('Vereador') & df_bu_1t.DS_TIPO_VOTAVEL.eq('Nominal')] \
                        [['CD_ELEICAO','DS_CARGO_PERGUNTA','NR_VOTAVEL','SG_PARTIDO','NM_VOTAVEL']] \
                         .drop_duplicates() \
                         .sort_values(['NR_VOTAVEL'])
df_vereadores.columns = ['eleicao',	'cargo',	'numero', 'partido', 'candidato']
df_vereadores

       eleicao     cargo  numero       partido                candidato
3083       426  Vereador   10000  REPUBLICANOS            CABO COUTINHO
32033      426  Vereador   10007  REPUBLICANOS     SARGENTO ANA CLAUDIA
36326      426  Vereador   10008  REPUBLICANOS             CHAY CHANTEL
4547       426  Vereador   10010  REPUBLICANOS              LUCAS SALES
453        426  Vereador   10018  REPUBLICANOS  JOSUE DOS CAMINHONEIROS
...        ...       ...     ...           ...                      ...
950        426  Vereador   90800          PROS          EMERSON BOTELHO
10173      426  Vereador   90888          PROS           LORA DO SOCIAL
1335       426  Vereador   90900          PROS              ERICO BRAGA
1615       426  Vereador   90901          PROS             LUIZ ALBERTO
3751       426  Vereador   90999          PROS           CRISTINA PAIVA

[1374 rows x 5 columns]

In [126]:
df_vereadores.to_csv('/content/datasets/vereadores.csv')

### Resultados para Vereador

In [119]:
df_resultados_vereador = df_bu_1t[df_bu_1t.DS_CARGO_PERGUNTA.eq('Vereador')] \
    [['CD_ELEICAO',	'NR_ZONA'	,'NR_SECAO', 'NR_LOCAL_VOTACAO', 'DS_CARGO_PERGUNTA'	,'NR_VOTAVEL',	'QT_VOTOS']] \
    .sort_values(['NR_ZONA','NR_SECAO','NR_VOTAVEL'])
df_resultados_vereador.columns = ['eleicao',	'zona',	'secao', 'local',	'cargo',	'numero',	'votos']    
df_resultados_vereador

        eleicao  zona  secao  local     cargo  numero  votos
200         426     1    640   2429  Vereador      11      1
104         426     1    640   2429  Vereador      13      2
185         426     1    640   2429  Vereador      18      1
25          426     1    640   2429  Vereador      19      2
54          426     1    640   2429  Vereador      50      1
...         ...   ...    ...    ...       ...     ...    ...
848823      426    70    808   1848  Vereador   77888      4
848898      426    70    808   1848  Vereador   90177      2
848832      426    70    808   1848  Vereador   90321      1
848830      426    70    808   1848  Vereador   90523      1
848887      426    70    808   1848  Vereador   90789      2

[551544 rows x 7 columns]

In [120]:
filename = '/content/datasets/resultados_vereador.csv'
df_resultados_vereador.to_csv(filename)
print(f'Resultado da votação para Vereador no 1o turno gravada em \'{filename}\'')

Resultado da votação para Vereador no 1o turno gravada em '/content/datasets/resultados_vereador.csv'

### Candidatos a Prefeito (2o turno)

In [61]:
# boletins de urna do 2o turno
!unzip -u bweb_2t_AM_301120201245.zip -d /content/work

Archive:  bweb_2t_AM_301120201245.zip
  inflating: /content/work/bweb_2t_AM_301120201245.csv

In [63]:
df_bu_2t = pd.read_csv('/content/work/bweb_2t_AM_301120201245.csv', encoding="ISO-8859-1", delimiter=';')
df_bu_2t.sample(5)

       DT_GERACAO HH_GERACAO  ...  NR_JUNTA_APURADORA  NR_TURMA_APURADORA
11174  30/11/2020   12:37:06  ...                  -1                  -1
12986  30/11/2020   12:37:06  ...                  -1                  -1
4643   30/11/2020   12:37:06  ...                  -1                  -1
6550   30/11/2020   12:37:06  ...                  -1                  -1
10671  30/11/2020   12:37:06  ...                  -1                  -1

[5 rows x 45 columns]

In [ ]:
df_prefeitos_2t = df_bu_2t[df_bu_2t.DS_CARGO_PERGUNTA.eq('Prefeito') & df_bu_2t.DS_TIPO_VOTAVEL.eq('Nominal')] \
                       [['CD_ELEICAO','DS_CARGO_PERGUNTA','SG_PARTIDO','NR_VOTAVEL','NM_VOTAVEL']] \
                         .drop_duplicates() \
                         .sort_values(['NR_VOTAVEL'])
df_prefeitos_2t.columns = ['eleicao',	'cargo',	'numero', 'partido', 'candidato']
df_prefeitos_2t

   eleicao     cargo  numero  partido         candidato
1      427  Prefeito    PODE       19  AMAZONINO MENDES
0      427  Prefeito  AVANTE       70     DAVID ALMEIDA

In [136]:
filename = '/content/datasets/prefeitos_2t.csv'
df_resultado_prefeito.to_csv(filename)
print(f'Candidatos a Prefeito (2o turno) gravados em \'{filename}\'')

Candidatos a Prefeito (2o turno) gravados em '/content/datasets/prefeitos_2t.csv'

### Resultados para Prefeito (2o turno)

In [114]:
df_resultado_prefeito = df_bu_2t[df_bu_2t.DS_CARGO_PERGUNTA.eq('Prefeito')] \
    [['CD_ELEICAO',	'NR_ZONA'	,'NR_SECAO', 'NR_LOCAL_VOTACAO', 'DS_CARGO_PERGUNTA'	,'NR_VOTAVEL',	'QT_VOTOS']] \
    .sort_values(['NR_ZONA','NR_SECAO','NR_VOTAVEL'])
df_resultado_prefeito.columns = ['eleicao',	'zona',	'secao', 'local',	'cargo',	'numero',	'votos']    
df_resultado_prefeito

       eleicao  zona  secao  local     cargo  numero  votos
1          427     1    640   2429  Prefeito      19    156
0          427     1    640   2429  Prefeito      70    135
3          427     1    640   2429  Prefeito      95     10
2          427     1    640   2429  Prefeito      96     29
4          427     1    641   2089  Prefeito      19    153
...        ...   ...    ...    ...       ...     ...    ...
13471      427    70    806   2089  Prefeito      96     16
13476      427    70    808   1848  Prefeito      19     68
13473      427    70    808   1848  Prefeito      70    122
13475      427    70    808   1848  Prefeito      95     11
13474      427    70    808   1848  Prefeito      96     14

[13477 rows x 7 columns]

In [137]:
filename = '/content/datasets/resultados_prefeito_2t.csv'
df_resultado_prefeito.to_csv(filename)
print(f'Resultado da votação para Prefeito (2o turno) gravado em \'{filename}\'')

Resultado da votação para Prefeito (2o turno) gravado em '/content/datasets/resultados_prefeito_2t.csv'

### Limpeza do diretório de trabalho

In [ ]:
# Limpeza do diretório temporário de trabalho
!rm -rf /content/work/*

## Locais de votação

In [145]:
# detalhes das seções
!unzip -u detalhe_votacao_secao_2020.zip -d /content/work

Archive:  detalhe_votacao_secao_2020.zip
  inflating: /content/work/detalhe_votacao_secao_2020_AC.csv
  inflating: /content/work/detalhe_votacao_secao_2020_AL.csv
  inflating: /content/work/detalhe_votacao_secao_2020_AM.csv
  inflating: /content/work/detalhe_votacao_secao_2020_AP.csv
  inflating: /content/work/detalhe_votacao_secao_2020_BA.csv
  inflating: /content/work/detalhe_votacao_secao_2020_BRASIL.csv
  inflating: /content/work/detalhe_votacao_secao_2020_CE.csv
  inflating: /content/work/detalhe_votacao_secao_2020_ES.csv
  inflating: /content/work/detalhe_votacao_secao_2020_GO.csv
  inflating: /content/work/detalhe_votacao_secao_2020_MA.csv
  inflating: /content/work/detalhe_votacao_secao_2020_MG.csv
  inflating: /content/work/detalhe_votacao_secao_2020_MS.csv
  inflating: /content/work/detalhe_votacao_secao_2020_MT.csv
  inflating: /content/work/detalhe_votacao_secao_2020_PA.csv
  inflating: /content/work/detalhe_votacao_secao_2020_PB.csv
  inflating: /content/work/detalhe_votacao_secao_2020_PE.csv
  inflating: /content/work/detalhe_votacao_secao_2020_PI.csv
  inflating: /content/work/detalhe_votacao_secao_2020_PR.csv
  inflating: /content/work/detalhe_votacao_secao_2020_RJ.csv
  inflating: /content/work/detalhe_votacao_secao_2020_RN.csv
  inflating: /content/work/detalhe_votacao_secao_2020_RO.csv
  inflating: /content/work/detalhe_votacao_secao_2020_RR.csv
  inflating: /content/work/detalhe_votacao_secao_2020_RS.csv
  inflating: /content/work/detalhe_votacao_secao_2020_SC.csv
  inflating: /content/work/detalhe_votacao_secao_2020_SE.csv
  inflating: /content/work/detalhe_votacao_secao_2020_SP.csv
  inflating: /content/work/detalhe_votacao_secao_2020_TO.csv
  inflating: /content/work/leiame.pdf

In [146]:
df_dvs = pd.read_csv('/content/work/detalhe_votacao_secao_2020_BRASIL.csv', encoding="ISO-8859-1", delimiter=';')
df_dvs.sample(5)

        DT_GERACAO HH_GERACAO  ...  QT_VOTOS_ANULADOS_APU_SEP  NR_LOCAL_VOTACAO
524638  09/12/2020   15:29:43  ...                          0              1090
364842  09/12/2020   15:29:43  ...                          0              1600
396005  09/12/2020   15:29:43  ...                          0              2062
421947  09/12/2020   15:29:43  ...                          0              1015
796063  09/12/2020   15:29:43  ...                          0              1112

[5 rows x 28 columns]

In [147]:
df_dvs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 897536 entries, 0 to 897535
Data columns (total 28 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   DT_GERACAO                 897536 non-null  object
 1   HH_GERACAO                 897536 non-null  object
 2   ANO_ELEICAO                897536 non-null  int64
 3   CD_TIPO_ELEICAO            897536 non-null  int64
 4   NM_TIPO_ELEICAO            897536 non-null  object
 5   NR_TURNO                   897536 non-null  int64
 6   CD_ELEICAO                 897536 non-null  int64
 7   DS_ELEICAO                 897536 non-null  object
 8   DT_ELEICAO                 897536 non-null  object
 9   TP_ABRANGENCIA             897536 non-null  object
 10  SG_UF                      897536 non-null  object
 11  SG_UE                      897536 non-null  int64
 12  NM_UE                      897536 non-null  object
 13  CD_MUNICIPIO               897536 non-null  int64
 14  NM_MUNICIPIO               897536 non-null  object
 15  NR_ZONA                    897536 non-null  int64
 16  NR_SECAO                   897536 non-null  int64
 17  CD_CARGO                   897536 non-null  int64
 18  DS_CARGO                   897536 non-null  object
 19  QT_APTOS                   897536 non-null  int64
 20  QT_COMPARECIMENTO          897536 non-null  int64
 21  QT_ABSTENCOES              897536 non-null  int64
 22  QT_VOTOS_NOMINAIS          897536 non-null  int64
 23  QT_VOTOS_BRANCOS           897536 non-null  int64
 24  QT_VOTOS_NULOS             897536 non-null  int64
 25  QT_VOTOS_LEGENDA           897536 non-null  int64
 26  QT_VOTOS_ANULADOS_APU_SEP  897536 non-null  int64
 27  NR_LOCAL_VOTACAO           897536 non-null  int64
dtypes: int64(18), object(10)
memory usage: 191.7+ MB

### Seções

In [174]:
df_secoes = df_dvs[df_dvs.NM_MUNICIPIO.eq('MANAUS')] \
                  [['CD_ELEICAO', 'NR_ZONA', 'NR_SECAO', 'NR_LOCAL_VOTACAO',
                    'QT_APTOS',	'QT_COMPARECIMENTO',	'QT_ABSTENCOES']] \
                    .sort_values(['NR_ZONA', 'NR_SECAO', 'CD_ELEICAO']) \
                    .drop_duplicates()
df_secoes.columns = ['eleicao', 'zona', 'secao', 'local','aptos','votos','absencoes']
df_secoes

        eleicao  zona  secao  local  aptos  votos  absencoes
41373       426     1    640   2429    411    348         63
725917      427     1    640   2429    411    330         81
325496      426     1    641   2089    393    326         67
328669      427     1    641   2089    393    308         85
138660      426     1    642   2321    397    341         56
...         ...   ...    ...    ...    ...    ...        ...
431441      427    70    805   2046    366    245        121
291560      426    70    806   2089    399    280        119
604720      427    70    806   2089    399    277        122
374725      426    70    808   1848    284    224         60
946         427    70    808   1848    284    215         69

[6742 rows x 7 columns]

In [175]:
filename = '/content/datasets/secoes.csv'
df_secoes.to_csv(filename)
print(f'Seções eleitorais gravadas em \'{filename}\'')

Seções eleitorais gravadas em '/content/datasets/secoes.csv'

In [166]:
dft_dvs = df_dvs[df_dvs.NM_MUNICIPIO.eq('MANAUS')] \
               [['CD_ELEICAO', 'NR_ZONA', 'NR_SECAO', 'NR_LOCAL_VOTACAO', 'DS_CARGO',
                 'QT_APTOS', 'QT_COMPARECIMENTO', 'QT_ABSTENCOES',
                 'QT_VOTOS_NOMINAIS',	'QT_VOTOS_BRANCOS',	'QT_VOTOS_NULOS', 'QT_VOTOS_LEGENDA']] \
                .sort_values(['CD_ELEICAO','NR_ZONA', 'NR_SECAO'])
dft_dvs

        CD_ELEICAO  NR_ZONA  ...  QT_VOTOS_NULOS  QT_VOTOS_LEGENDA
41373          426        1  ...              19                 0
205055         426        1  ...              16                11
325496         426        1  ...              23                 0
340194         426        1  ...              13                10
138660         426        1  ...              17                 6
...            ...      ...  ...             ...               ...
891487         427       70  ...               6                 0
624649         427       70  ...              15                 0
431441         427       70  ...              16                 0
604720         427       70  ...              16                 0
946            427       70  ...              14                 0

[10113 rows x 12 columns]

In [179]:
# Limpeza do diretório temporário de trabalho
!rm -rf /content/work/*

# Carga

In [176]:
%cd /content
!tar -czvf eleicoes2020.tar.gz datasets/*

/content
datasets/eleicoes.csv
datasets/leiame-boletim_urna.pdf
datasets/prefeitos_2t.csv
datasets/prefeitos.csv
datasets/resultados_prefeito_2t.csv
datasets/resultados_prefeito.csv
datasets/resultados_vereador.csv
datasets/secoes.csv
datasets/vereadores.csv

In [177]:
# sobrescreve o arquivo compartilhado: 1-1v_7xBem5VdYwFFaaNl2EKPLYaDadPa
!cp eleicoes2020.tar.gz /content/gdrive/MyDrive/uea-data-science/04-data-processing/trabalho-final

In [178]:
# remove o diretório
!rm -rf datasets

In [ ]:
!tar -zxvf eleicoes2020.tar.gz

datasets/detalhe_votacao_secao.csv
datasets/leiame-detalhe_votacao_secao.pdf